{#
/**
 * @file
 * Template for field_event_location field for Event CT.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass(['wrapper-' ~ field_name|clean_class, 'event-locations', 'd-flex', 'flex-column']) }}>
  {% for item in items %}
    <span class="{{ loop.index > 2 ? 'd-md-none' }}">{{ item.content }}</span>
  {% endfor %}
  {% if items|length > 2 %}
    <a class="show-all-locations text-primary d-none d-md-block" href="javascript:void(0);" role="button" tabindex="0">{{ 'Show all locations'|t }}</a>
    {{ attach_library('openm_carnation/expand_locations') }}
  {% endif %}
</div>
