{#
/**
 * @file
 * Default theme implementation for a FAQ item.
 *
 * Available variables:
 * - question: The text that will be used as a header FAQ item.
 * - answer: The text that will be used as a body FAQ item.
 *
 * @see template_preprocess_openm_faq_item()
 *
 * @ingroup themeable
 */
#}
<div class="paragraph--type--faq-item conceal">
  <div class="field-question">
    {{- question -}}
  </div>
  <div class="field-answer">
    {{- answer -}}
  </div>
</div>
