.node--type-blog.node--view-mode-teaser {
  max-width: 100%;
  &.blog-photo {
    a {
      .inner-wrapper {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        margin: 15px 0;
        overflow: visible;
        height: auto;
        border: none !important;
        background-color: rgba(255, 255, 255, 0.61);
        .blog-up {
          text-align: center;
          .category {
            position: absolute;
            left: 0;
            padding: 10px 20px;
            background-color: $main-purple;
            color: white;
            font-weight: bold;
            z-index: 1;
          }
          .field-media-image {
            height: 100%;
          }
          .default-img {
            height: 210px;
            border-bottom: 1px solid #ebebeb;
            border-top: 1px solid #ebebeb;
            img {
              margin: 36px 0;
              height: 75%;
              width: auto;
            }
          }
        }
        .blog-heading {
          padding: 12px;
          position: static;
          height: auto;
          @include transition(all 0.5s ease);
          background-color: #F5F5F5 !important;
          h2,
          h3 {
            color: #635f5f;
            font-weight: bold;
            margin-top: 8px;
            font-size: 30px;
            @include transition(all 0.5s ease);
            &:after {
              margin: 10px 10px 0;
              display: inline-block;
              color: white;
              background: #b3b3b3;
              content: "\f054";
              text-align: center;
              font-size: 24px;
              font: normal normal normal 14px/1 FontAwesome;
              @include transition(all 0.5s ease);
              width: 21px;
              height: 21px;
              border-radius: 50%;
              padding-top: 4px;
              padding-left: 2px;
              vertical-align: text-top;
            }
          }
          p {
            color: #635f5f;
            font-size: 14px;
            strong {
              font-weight: normal !important;
            }
          }
        }
      }
      &:hover {
        .inner-wrapper {
          .blog-heading {
            background-color: white !important;
            h2 {
              color: black;
              &:after {
                background: $blue;
              }
            }
          }
        }
      }
    }
  }
  &.blog-news,
  &.blog-color,
  &.blog-story {
    .blog-up {
      position: absolute;
      bottom: 12px;
      width: 100%;
      display: block;
      .category {
        background-color: transparent !important;
        margin: 0;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: 2px;
        @include cachet();
        padding: 0 22px;
      }
    }
    h2 {
      margin-top: 0;
    }
  }
  &.blog-news,
  &.blog-color {
    h2,
    h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}

.back-to-blog {
  a {
    @include cachet();
    text-transform: uppercase;
  }
}

.node--type-blog.node--view-mode-full {
  margin: 0 0 40px;
}

.copy {
  color: $grey25;
  h2, h3, h4, h5, h6, strong {
    color: $grey25;
  }
  p, li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.blog-related {
  background: #e0e0e0;
  border: none;
  margin-top: 0;
  h3 {
    color: #5e5e5e;
    font-weight: bold;
    font-size: 24px;
    @include cachet();
    margin-bottom: 10px;
  }
  h2,
  h3 {
    margin-top: 0;
    a {
      font-size: 18px;
      color: #428bca !important;
      &:after {
        margin-left: 10px;
        position: static;
        content: 'o';
        text-transform: none;
        font-size: 18px;
        font-family: 'OPENM';
      }
    }
  }
}

.blog-more-teaser {
  .form-item-combine {
    padding: 0 0 0 200px !important;
    @include breakpoint ($desktop-small $desktop) {
      padding: 0 0 0 140px !important;
      .two-column & {
        padding: 0 !important;
      }
    }
    @include breakpoint ($desktop-small) {
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    @media (max-width: 1023px) {
      padding: 0 !important;
    }
  }
  .two-column & {
    .views-exposed-form > div.form-item-field-blog-category-target-id {
      @include breakpoint ($desktop-small) {
        width: 133px !important;
      }
    }
  }
}
