.paragraph--type--microsites-menu,
.paragraph--type--camp-menu {
  margin-bottom: 30px;
  @include breakpoint (0 $tablet-start) {
    position: relative;
    height: auto;
    z-index: 10;
    width: 100%;
    margin-bottom: 0;
  }
  .camp-menu-wrapper {
    @media (min-width: $tablet-start) {
      padding: 0 30px;
      z-index: 8;
    }
    background: #383838;
    overflow: visible !important;
    .columns-gradient {
      background: #383838;
      &:before {
        background: #383838;
      }
    }
    .camp-menu {
      width: 100% !important;
      text-align: center;
      @media (min-width: $tablet-start) {
        height: 51px !important;
      }
      @include breakpoint ($desktop) {
        height: 57px !important;
      }
      @include breakpoint (0 $tablet-start) {
        display: block;
        position: static;
        float: none;
        min-width: 1px;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: auto;
      }
      li {
        float: none;
        @media (min-width: $tablet-start) {
          display: table-cell;
          width: 1%;
          vertical-align: top;
        }
        @include breakpoint (0 $tablet-start) {
          background: none;
          display: none;
          border-top: 1px solid #3e3e3e;
          margin: 0;
          position: relative;
          padding: 0;
          list-style: none;
          height: auto;
        }
        a {
          z-index: 1;
          display: block;
          padding: 13px 5px;
          max-width: 100%;
          border: 0 !important;
          border-radius: 0;
          background-color: #383838;
          color: $white;
          position: relative;
          height: 51px;
          white-space: nowrap;
          font-weight: normal;
          font-family: "Cachet", Verdana, Geneva, sans-serif;
          font-size: 16px;
          line-height: 1.4em;
          -webkit-transition: background-color .2s linear;
          -moz-transition: background-color .2s linear;
          -ms-transition: background-color .2s linear;
          transition: background-color .2s linear;
          @include breakpoint ($desktop) {
            font-size: 20px;
            height: 57px;
            padding: 15px 5px;
          }
          @include breakpoint (0 $tablet-start) {
            text-transform: uppercase;
            border: none;
            margin: 0;
            font-size: 18px;
            padding: 19px 15px;
            text-align: left;
            display: block;
            height: auto;
          }
          &:hover {
            @media (min-width: $tablet-start) {
              background-color: #505050;
            }
            &:after {
              @media (min-width: $tablet-start) {
                background-color: #505050 !important;
              }
            }
          }
          &.active {
            @include breakpoint (0 $tablet-start) {
              background-color: transparent !important;
            }
            &:after {
              @media (min-width: $tablet-start) {
                position: absolute;
                bottom: -12px;
                left: 50%;
                z-index: -1;
                display: block;
                margin-left: -15px;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                background-color: #383838;
                content: ' ';
                -webkit-transition: background-color .2s linear;
                -moz-transition: background-color .2s linear;
                -ms-transition: background-color .2s linear;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
              }
            }
          }
          .name {
            @include breakpoint (0 $tablet-start) {
              display: inline-block;
              font-size: 18px;
              font-weight: bold;
              color: $white;
            }
          }
          &.open {
            .caret {
              @include breakpoint (0 $tablet-start) {
                &:before {
                  content: "\e082";
                }
              }
            }
          }
          .caret {
            @include breakpoint (0 $tablet-start) {
              display: inline-block;
              width: auto;
              height: 10px;
              border: 0;
              position: relative;
              float: right;
              top: -2px;
              &:before {
                content: "\e081";
                margin-right: .3em;
                vertical-align: middle;
                text-transform: none;
                font-weight: normal;
                font-size: 16px;
                font-family: 'Glyphicons Halflings';
              }
            }
          }
        }
        &:first-child {
          @include breakpoint (0 $tablet-start) {
            display: list-item;
          }
          a {
            @include breakpoint ($tablet-start) {
              line-height: 0;
              font-size: 0;
              color: transparent;
            }
            &:before {
              @include breakpoint ($tablet-start) {
                content: "\e021";
                position: relative;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1.4em;
                -webkit-font-smoothing: antialiased;
                font-size: 16px;
                color: $white;
                @include breakpoint ($desktop) {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.branch-header {
  .desktop {
    padding: 0;
  }
  a {
    @include transition(all 0.2s linear);
  }
  .back-link {
    text-transform: uppercase;
    font-weight: bold;
    @include cachet();
    a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      font-size: 14px;
      margin-bottom: 10px;
      display: block;
      &:hover {
        color: white;
      }
      &:before {
        margin-right: 5px;
        content: '\007b';
        font-family: 'OPENM';
      }
    }
  }
  @include breakpoint (0 767px) {
    text-align: center;
  }

  .location-masthead {
    padding: 15px 0 10px;
    .masthead-brand {
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      @include cachet();
      margin: 0;
      min-height: 55px;
      font-size: 48px;
      line-height: 1em;
      @include breakpoint ($tablet $tablet-start) {
        font-size: 42px;
      }
      @include breakpoint (0 767px) {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        min-height: 0;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
      }
    }
  }

  .masthead-button {
    text-align: right;
    > a {
      display: inline-block;
      margin-bottom: 0;
      line-height: 1.428571429;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      color: $white;
      border: 0;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      @include cachet();
      margin-top: 0;
      padding: 12px 20px;
      outline: 0;
      font-size: 18px;
      width: auto;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      @include breakpoint (0 767px) {
        width: 100%;
      }

    }
  }

  .location-details {
    margin: 0;
    width: 100%;
    color: white;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1);
    @include breakpoint ($tablet $tablet-start) {
      font-size: 12px;
    }
    @include breakpoint (0 767px) {
      font-size: 19px;
      border-top: none;
      box-shadow: none;
    }
    @media (min-width: 768px) {
      .directions-hours-inner {
        line-height: 50px;
      }
    }
    .camp-address-toggle,
    .directions {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      border-radius: 3px;
      padding: 4px 10px;
      background: rgba(255, 255, 255, 0.1);
      top: -2px;
      position: relative;
      line-height: normal;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
        text-decoration: none;
      }
    }
    .hours {
      text-align: right;
      line-height: 20px;
      float: none;
      display: inline-block;
    }
    #camp-address {
      position: absolute;
      top: 35px;
      right: 15px;
      z-index: 1001;
      padding: 0 40px 0 20px;
      border-radius: 0 0 3px 3px;
      text-align: left;
      div {
        margin-bottom: 10px;
      }
      @include breakpoint (0 767px) {
        position: static;
        font-size: 16px;
        line-height: 1.1em;
        a {
          font-size: 16px;
          line-height: 1.1em;
        }
      }
    }
    .location-hours-toggle {
      display: block;
      text-align: center;
      float: none;
      width: 100%;
      background: rgba(255, 255, 255, 0.05);
      margin-bottom: 8px;
      border-radius: 3px;
      -webkit-transition: background-color .35s ease-out;
      transition: background-color .35s ease-out;
      font-weight: normal;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);
      text-transform: initial;
      padding: 5px 20px;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
      &:focus {
        outline: none;
      }
    }
    #directions-hours-mobile {
      text-align: left;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      padding: 25px 0;
      hr {
        margin: 25px;
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px rgba(255, 255, 255, 0.2);
      }
      a {
        color: white;
      }
      .field-location-phone {
        font-size: 25px;
      }
      .address {
        font-size: 19px;
        line-height: 1.4em;
        .directions {
          margin-top: 5px;
          margin-left: 25px;
        }
      }
    }
  }
}

.location-camp-header {
  .field-branch-hours {
    margin-left: 5px;
    display: inline-block;
    @include breakpoint (0 767px) {
      margin-left: 25px;
      margin-top: 5px;
      float: none;
      font-size: 16px !important;
    }
  }
  .today-hours {
    position: relative;
    a {
      display: inline-block;
      @include breakpoint(0 767px) {
        display: none;
      }

    }
    h5 {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      margin-top: 20px;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}

.branch-header .location-details .hours {
  @include breakpoint(0 767px) {
    text-align: left;
  }
  @include breakpoint ($tablet $tablet-start) {
    padding-left: 0;
  }
}

.branch-header .desktop .today-hours .branch-hours {
  right: -4px;
  left: auto;
  z-index: 10;
  width: 260px;
}

.branch-header .branch-hours {
  @include breakpoint(0 767px) {
    display: block !important;
  }
}

.node--type-branch,
.node--type-camp {
  .container-fluid {
    &.featured-highlights {
      padding: 0;
    }
  }
}

.field-prgf-grid-clm-description {
  table {
    width: 100% !important;
  }
}
