.pre-footer {
  margin-top: 30px;
}

.social-disclaimer {
  .contextual-region .contextual .contextual-links li {
    width: auto;
  }
}

#page-footer {
  background: $white;
  padding-top: 40px;
  padding-bottom: 14px;
  #block-openm-lily-footersocialblock {
    .field-block-content {
      ul {
        li {
          margin: 0 12px;
          a {
            border: 3px solid $blue;
            border-radius: 50%;
            width: 46px;
            display: block;
            height: 46px;
            box-sizing: border-box;
            line-height: 40px;
            font-size: 26px;
            padding-top: 40px;
            position: relative;
            overflow: hidden;
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              text-align: center;
            }
          }
        }
        @include breakpoint(0 $tablet) {
          li {
            margin: 0 5px;
            a {
              width: 36px;
              height: 36px;
              line-height: 30px;
              font-size: 20px;
              padding-top: 30px;
            }
          }
        }
      }
    }
  }
  #block-openm-lily-footermenucenter {
    margin-bottom: 30px;
    .nav {
      li {
        display: inline-block;
        a {
          font-size: 20px;
          color: $gray;
          &:focus,
          &:hover {
            background: transparent;
            color: $gray;
            text-decoration: underline;
          }
        }
      }
    }
  }
  #block-openm-lily-footercopyrightblock {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    .contextual {
      top: -20px;
    }
    p {
      @include cachet();
      display: inline-block;
      margin: 0;
      font-size: 13px;
      line-height: 20px;
      color: $gray;
      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.path-frontpage {
  .viewport {
    #main {
      padding-bottom: 30px;
    }
  }
}
