.container-fluid {
  padding: 0 30px;
  @include breakpoint($desktop) {
    padding: 0 100px;
  }
}

.page-heading {
  padding: 30px 0;
  &.black-header {
    background: $black3;
    h1 {
      margin: 0;
      color: white;
      font-size: 48px;
      text-transform: uppercase;
      @include cachet();
      font-weight: bold;
    }
  }
  @include breakpoint(0 $tablet) {
    padding: 20px 0;
    h1 {
      font-size: 24px !important;
    }
  }
  .node--type-blog & {
    margin-bottom: 40px;
  }
  .path-account & {
    margin-bottom: 0;
  }
}

.pager {
  li {
    > a {
      padding: 5px 10px;
      font-size: 15px;
      border-radius: 0;

    }
    @include breakpoint(0 $tablet) {
      margin-right: 3px;
      a {
        padding: 5px 8px;
      }
    }
    &.pager__item--next {
      a {
        border: 1px solid #ddd !important;
        &:hover {
          background: #eee !important;
        }
      }
    }
  }
}

.page-404 {
  h2 {
    color: #646464 !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin-top: 0;
  }
  article {
    margin-top: 30px;
  }
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none !important;
}

.return-to-top {
  position: fixed;
  right: 0;
  height: 34px;
  overflow: hidden;
  right: 0;
  -webkit-transition: width .35s ease-out;
  z-index: 100;
  bottom: 60px;
  width: 0;
  &.affix {
    position: fixed;
    width: 39px;
    -webkit-transform: translateZ(0);
    z-index: 2000;
  }
}

//Tabs

#block-openm-lily-tabs {
  background: $grey16;
  .nav-tabs {
    border: none;
    margin-top: 1px;
    li {
      margin: 0 10px 0px 0;
      a {
        margin-right: 2px;
        line-height: 1.4;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        &.is-active {
          background: #505050;
          color: $white;
        }
        &:hover {
          background: #505050;
          color: $white;
        }
      }
    }
  }
  @include breakpoint (0 $tablet) {
    .nav-tabs {
      li {
        margin-right: 5px;
      }
    }
  }
}

html.js .path-account .ajax-progress .throbber, html.js .path-account .flag-waiting .flag-throbber {
  top: 1px !important;
}

// Table styles

.paragraph--type--simple-content {
  table {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    tr {
      &:nth-of-type(odd) {
        background-color: #f9f9f9;
      }
      td, th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
}

//Image Styles

.embedded-entity {
  .view-mode-embedded-half {
    img {
      max-width: 50%;
    }
  }
  img {
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

// Media styling

.path-media {
  .field-media-image {
    img {
      margin: 0 auto;
    }
  }
  .field-media-video-embed-field {
    text-align: center;
    iframe {
      margin: 0 auto;
    }
  }
}
