<div class="color-preview">
  <div class="color-preview-header">
    <div class="color-preview-logo"></div>
    <div class="color-preview-menu">
      <span class="color-preview-menu-link hover">Home</span><span class="color-preview-menu-link">Programs</span><span class="color-preview-menu-link">Blog</span>
    </div>
  </div>
  <div class="color-preview-branch-subheader">
      Welcome to the Downtown OPENM
  </div>
  <div class="color-preview-main">
      <p><a href="#">Explore the Open M!</a> and learn how to use the Open M content management system to deliver brand-compliant digital experiences.</p>
      <h3>Give the Y a Try</h3>
      <h4>Learn More</h4>
      <div class="preview-button">More</div>
  </div>
  <div class="color-preview-footer">
    <div class="color-preview-logo"></div>
    <div class="color-preview-menu">
        &copy; 2017 OPENM
    </div>
  </div>
</div>

<h2>Camp Preview</h2>
<div class="camp-color-preview">
    <div class="color-preview-header">
        <div class="color-preview-logo"></div>
        <div class="color-preview-menu">
            <span class="color-preview-menu-link hover">Home</span><span class="color-preview-menu-link">Programs</span><span class="color-preview-menu-link">Blog</span>
        </div>
    </div>
    <div class="color-preview-branch-subheader">
        Welcome to the Downtown OPENM
    </div>
    <div class="color-preview-campmenu">
      <span class="color-preview-menu-link hover">About</span><span class="color-preview-menu-link">Register</span>
    </div>
    <div class="color-preview-main">
        <p><a href="#">Explore the Open M!</a> and learn how to use the Open M content management system to deliver brand-compliant digital experiences.</p>
        <div class="preview-button">More</div>
    </div>
    <div class="color-preview-footer">
        <div class="color-preview-logo"></div>
        <div class="color-preview-menu">
            &copy; 2017 OPENM
        </div>
    </div>
</div>