// Open M Paragraph Latest Event Posts - Upcoming events
.paragraph--type--upcoming-events {
  h2 {
    letter-spacing: normal;
    text-transform: none;
  }

  & > .paragraph-container-wrapper > h2 {
    padding-left: 15px;
  }

  header {
    width: 100%;
    height: 0;
    margin-top: 10px;

    & + .views-row {
      margin-top: 30px;
    }
  }

  header a {
    @include cachet(700);
    text-transform: uppercase;
    color: $indigo;
    display: block;
    text-align: right;
    padding: 0 15px;

    @media (min-width: 570px) {
      float: right;
    }

    &:after {
      content: '\f105';
      font-family: $font-awesome;
      font-weight: bold;
      padding-left: 5px;
    }
  }

  @include media-breakpoint-up(md) {
    .views-row {
      margin: 30px 0;
    }
  }
}
