{#
/**
 * @file
 * Open M Schedules.
 *
 * Available variables:
 * - content: contains all data.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div class="col-xs-12 schedule-sessions-group">
    <h2>{{ title }}</h2>
    {% if content is empty %}
      {{ 'It looks like there are no classes / sessions matching your search criteria.'|t }}
    {% endif %}
    {% for time, group in content %}
      <article>
        <h2 class="group_time">
          {{ time }}
        </h2>
        <div class="schedule-sessions-group-slider">
          {% for teaser in group %}
            <a class="views-row row-eq-height" href="{{ teaser.url }}" target="_blank" title="{{ teaser.label }}" aria-label="{{ teaser.label }}">
              {% if teaser.included_in_membership %}
                <div class="included-in-membership"></div>
              {% endif %}
              {{ teaser.teaser }}
              {% if teaser.ticket_required %}
                <i class="ticket">{{ 'Ticket Required'|t }}</i>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
    </div>
  </div>
</div>
