{#
/**
 * @file
 * Open M Schedules Class.
 *
 * Available variables:
 * - title: provides title.
 * - content: contains all data.
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div class="col-xs-12 schedule-sessions-group">
    <a href="#" class="week-control prev-week">{{ '< Previous week' }}</a>
    <a href="#" class="week-control next-week">{{ 'Next week >' }}</a>
    <div class="clearfix"></div>
    <h2>{{ title }}</h2>
    {% if content is empty %}
      {{ 'It looks like there are no classes / sessions matching your search criteria.'|t }}
    {% endif %}
    {% for time, group in content %}
      <h2 class="group_time">
        {{ time }}
      </h2>
      <div class="schedule-sessions-group-slider">
        {% for key, teaser in group %}
        <a class="views-row row-eq-height" href="{{ teaser.url }}" target="_blank" title="{{ teaser.label }}" aria-label="{{ teaser.label }}">
          <article role="article" class="node node--type-class node--promoted node--view-mode-teaser">
            {% if teaser.included_in_membership %}
              <div class="included-in-membership"></div>
            {% endif %}
            <h3>{{ teaser.label }}</h3>
            <div class="time">{{ teaser.time }}</div>
            <p>{{ teaser.description }}</p>
            {% if teaser.ticket_required %}
              <i class="ticket">{{ 'Ticket Required'|t }}</i>
            {% endif %}
          </article>
        </a>
      {% endfor %}
    </div>
    {% endfor %}
    </div>
  </div>
</div>
