.openm-page-tabs {

  .is-active {
    color: $white;

    background: $light-blue;
  }

  >ul {
    display: table;
    margin: 10px auto;
    padding: 0;

    font-size: 0;

    list-style: none;

    li {
      @include cachet();

      display: inline-block;

      font-size: 16px;
      line-height: 17px;
      text-align: center;
      font-weight: 500;

      border: solid 1px $light-blue;
      border-right: 0;

      @media (max-width: $screen-xs-min) {
        font-size: 12px;
      }

      &:last-child {
        border-right: solid 1px $light-blue;
      }

      a {
        @include cachet();

        display: block;
        padding: 9px;

        text-decoration: none;
        text-align: center;

        @media (max-width: $screen-xs-min) {
          padding: 6px;
        }
      }
    }
  }
}
