$module: 'site-alert';

.#{$module} {
  @include cachet();
  width: 100%;

  &__wrapper {
    position: relative;
  }

  &__title {
    font-size: 16px;
  }

  &__content {
    p {
      margin: 0;
    }
  }

  &__cta {
    font-size: 12px;
    margin-top: 15px;

    @include breakpoint($screen-sm) {
      margin-bottom: 15px;
    }

    @include breakpoint($screen-md) {
      margin: 0;
    }

    .field-alert-link {
      float: left;
      margin-right: 42%;
      @include breakpoint($screen-md) {
        margin-right: 24%;
      }
      @include breakpoint($screen-sm) {
        float: right;
      }
    }

    .field-alert-link a {
      border: 1px solid;
      display: inline-block;
      padding: 12px 16px;
      text-align: center;
      &:hover {
        text-decoration: underline;
        opacity: 0.6;
      }
    }
  }

  &__dismiss {
    color: $white;
    position: absolute;
    right: 20px;
    top: 10px;
    @include text-shadow(-1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999);
    &:hover {
      color: #999999;
    }
  }

  &--header,
  &--footer {
    border: 1px solid $default-grey;

    .#{$module} {

      &__wrapper {
        padding: 10px 35px 11px 59px;
      }

      &__title {
        display: inline;
        padding-right: 0.7em;
      }

      &__icon {
        font-size: 26px;
        color: $red;
        position: absolute;
        top: 10px;
        left: 25px;

        &:before {
          content: " ";
          background-color: $white;
          border-radius: 10px;
          height: 20px;
          left: 1px;
          position: absolute;
          top: 2px;
          width: 20px;
          z-index: 2;
        }

        .fa {
          position: absolute;
          z-index: 3;
        }
      }

      &__content {
        display: inline;
        font-size: 14px;

        .field-body-no-summary {
          a {
            color: $white;
          }
        }

        @include breakpoint(0 $screen-md) {
          * {
            display: inline;
          }
        }
      }

      &__cta {
        a {
          color: $white;
        }
      }
    }
  }
}

.header-alerts-list,
.footer-alerts-list {
  .slick-slider {
    margin-bottom: 0;
  }

  .slick-track {
    display: flex;
    .slick-slide {
      display: flex;
      height: auto;
      .site-alert {
        height: 100% !important;

        & > div {
          height: 100%;
        }
      }
    }
  }

  .slick__arrow {
    display: block;
    height: 0;
    margin-top: -20px;
    position: relative;
  }

  .slick__counter {
    display: none;
  }

  /* Arrows */
  .slick-arrow {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: auto;
    left: auto;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    @include text-shadow(-1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999);
    &:hover {
      &:before {
        color: #999999;
        @include text-shadow(-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff);
      }
    }
    &:before {
      color: $white;
      font-family: "FontAwesome";
      font-size: 30px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .slick-prev {
    right: 40px;
    &:before {
      content: "\f104";
    }
  }

  .slick-next {
    right: 5px;
    &:before {
      content: "\f105";
    }
  }
}
