.openm-gtranslate {
  display: inline-block;
  height: 39px;
  vertical-align: bottom;
}

.openm-google-translate select {
  background: transparent;
  border: 0;
  color: $white;
  font-size: 12px;
  margin-top: 6px;
  text-transform: uppercase;

  option {
    color: $default-grey;
  }
}

.goog-te-gadget {
  font-size: 0 !important;

  .goog-logo-link, span {
    display: none;
  }
}

// Google translate styles.
.translated-ltr, .translated-rtl {
  body {
    top: 0 !important;
  }

  @include breakpoint($screen-sm) {
    .top-navs {
      margin-top: 39px;
    }
  }
}

.goog-te-banner-frame {
  display: none;

  @include breakpoint($screen-sm) {
    display: block;
  }
}

.sidebar {
  .openm-google-translate {
    @include breakpoint($screen-sm) {
      display: none;
    }
    select {
      margin-left: -5px;
      margin-top: 6px;
      margin-bottom: 9px;
    }
  }
}
