//
// Locations selection page.
//
.locations-header {
  align-items: flex-end;
  margin-bottom: 1rem;

  @media (min-width: $screen-tablet) {
    margin-bottom: 2rem;
  }

  // select heading
  h4 {
    font-size: 16px;

    @media (min-width: $screen-tablet) {
      font-size: 18px;
    }
  }
}

.openm-card__item label {
  border-color: $light-grey;
  color: $dark-grey;
}

.openm-card__item.selected label,
.openm-card__item.selected:hover label,
.openm-card__link:hover {
  color: white;
  border-color: $yet-another-green;
  background: $yet-another-green;
}

/* No results text. */
.openm-card__item.no-results small {
  color: $red;
}

//
// Schedules dashboard colours.
//
.schedule-dashboard__sidebar {
  color: $darker-grey;
}

// dividers
.schedule-dashboard__sidebar .form-group-wrapper {
  border-color: $light-grey;
}

.schedule-dashboard__modal--body .table h4 {
  color: $dark-blue;
}

/*
 * Due to SASS interpolation we cannot use variables in the background "fill" property unless we upgrade to BS4 and require its libraries.
*/

/* Checkbox > checkmark icon (default). */
.schedule-dashboard__sidebar .checkboxes input + label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230060af' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
  background-size: contain;
}

/* Material Icons + https://yoksel.github.io/url-encoder */
.schedule-dashboard__sidebar .checkboxes .checkbox-partial input + label:after {
  /* minus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230060af' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='white' d='M19 13H5v-2h14v2z'/%3E%3C/svg%3E");
}

.schedule-dashboard__sidebar .checkboxes .checkbox-checked input + label:after {
  /* plus icon */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230060af' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/%3E%3C/svg%3E");
}

// Radio buttons.
.schedule-dashboard__sidebar .radios input + label:after {
  background-color: $dark-blue;
}

// Checkbox tabs (locations)
.schedule-dashboard__sidebar .tabs .checkbox-wrapper input:checked + label {
  background-color: $dark-blue;
}

/* row striping */
.schedules-data__row:nth-child(even) { }

.schedule-dashboard__content {
  .day-label {
    h2 {
      display: flex;
      justify-content: space-between;
    }
  }
}

.calendar-column {
  .atcb-list {
    &.active {
      visibility: visible !important;
      display: block !important;
    }
  }
}
