@font-face {
  font-family: 'OPENM';
  src: url(../fonts/OPENM.eot);
}

@font-face {
  font-family: 'OPENM';
  src: url('../fonts/openm-normal/openm-normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/openm-normal/openm-normal.woff') format('woff'),
  url('../fonts/openm-normal/openm-normal.ttf') format('truetype'),
  url('../fonts/openm-normal/openm-normal#OPENM') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'Cachet';
//  src: url('../fonts/cachet/cachet-book.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/cachet/cachet-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/cachet/cachet-book.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/cachet/cachet-book.woff') format('woff'), /* Pretty Modern Browsers */
//  url('../fonts/cachet/cachet-book.svg#cachet-book') format('svg'), /* Legacy iOS */
//  url('../fonts/cachet/cachet-book.ttf') format('truetype'); /* Safari, Android, iOS */
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Cachet Bold';
//  src: url('../fonts/cachet/cachet-bold.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/cachet/cachet-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/cachet/cachet-bold.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/cachet/cachet-bold.woff') format('woff'), /* Pretty Modern Browsers */
//  url('../fonts/cachet/cachet-bold.svg#cachet-bold') format('svg'), /* Legacy iOS */
//  url('../fonts/cachet/cachet-bold.ttf') format('truetype'); /* Safari, Android, iOS */
//  font-weight: 700;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Cachet Medium';
//  src: url('../fonts/cachet/cachet-medium.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/cachet/cachet-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('../fonts/cachet/cachet-medium.woff2') format('woff2'), /* Super Modern Browsers */
//  url('../fonts/cachet/cachet-medium.woff') format('woff'), /* Pretty Modern Browsers */
//  url('../fonts/cachet/cachet-medium.svg#cachet-medium') format('svg'), /* Legacy iOS */
//  url('../fonts/cachet/cachet-medium.ttf') format('truetype'); /* Safari, Android, iOS */
//  font-weight: 600;
//  font-style: normal;
//}

body {
  -webkit-font-smoothing: antialiased;
  @include verdana();
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  @include cachet();
}

h1, .h1 {
  font-size: 36px
}

h2, .h2 {
  font-size: 30px
}

h3, .h3 {
  font-size: 24px
}

h4, .h4 {
  font-size: 18px
}

h5, .h5 {
  font-size: 14px
}

h6, .h6 {
  font-size: 12px
}
