.align-left {
  margin: 0 15px 15px 0;
}

.align-right {
  margin: 0 0 15px 15px;
}

.promos {

  & > .richtext {

    & > .richtext {

      & > a {
        padding: 0;
        background-color: rgba(255, 255, 255, .61);
        text-align: left;
        text-decoration: none;
        -moz-transition: background-color .35s ease, box-shadow .35s ease, color .35s ease;
        -ms-transition: background-color .35s ease, box-shadow .35s ease, color .35s ease;
        transition: background-color .35s ease, box-shadow .35s ease, color .35s ease;

        &:hover {
          background-color: $white;
        }
      }
    }
  }
}

.navbar-default .navbar-nav > li > a.is-active,
.navbar-default .navbar-nav > li.is-active > a {
  border-top: 2px solid $extra-pink1;
  background-color: $white;
  color: $extra-grey1;
}

.gsa_results_wrapper ol {
  list-style-type: none;
  padding: 0;
}

.news-footer .promos {
  float: right;
}

.copy .pagination {
  padding-left: 0 !important;
}

.post_display_full,
.blog_post_display_full_post {

  img {
    float: right;
    margin: 0 0 15px 15px;
    max-width: 230px;
  }
}

.copy > .richtext:first-child > .richtext:first-child {
  margin-top: 0;
}

.groupex-search-form > p:first-child {
  margin-bottom: 10px;
}

.sidebar-promos a.wrapper h2 {
  font-size: 24px;
}

nav#block-footermenuleft,
nav#block-footermenucenter,
nav#block-footermenuright {
  padding-left: 0;
}

.landing-template.ancestor-camps {
  .content {
    padding: 40px 0 60px;
  }

  section.node--type-article {
    img {
      float: left;
      margin: 0 15px 15px 0;
    }
    .sidebar-promos img {
      float: none;
      margin: 0;
    }
  }

}

.print-group-link {
  margin-top: 15px;
}

.sidebar-promos {
  p,
  iframe {
    width: 100% !important;
  }
  p {
    padding: 0;
  }
  &.promos .richtext p {
    padding: 0 20px 10px;
  }
  &.promos .richtext .text-promo p {
    padding: 0;
  }
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .nav-home.affix#masthead-menu {
  top: 130px;
}

.toolbar-fixed .nav-home.affix#masthead-menu {
  top: 90px;
}

.no-touch .toolbar-fixed.toolbar-vertical.toolbar-tray-open .nav-home.affix {
  position: fixed;
  top: 90px;
  bottom: auto;
  width: auto;
  left: 150px;
}

@media screen and (max-width: 767px) {
  #block-tabs {
    margin-top: 0;
  }
  .toolbar-vertical {
    padding-top: 0 !important;
    #page-head {
      .navbar-fixed-top {
        margin-top: 0;
        left: 0;
      }
      .top-navs.navbar-fixed-top.affix .nav-global {
        top: 0 !important;
      }
      .top-navs.navbar-fixed-top.affix-top .nav-global {
        top: 39px !important;
      }
    }
    .acquia-active-subscription {
      display: none;
    }
    &.sidebar-in #sidebar {
      margin-top: 39px;
      height: calc(100vh - 39px);

      .news {
        padding-bottom: 50px;
      }
    }
  }
  .toolbar-vertical.toolbar-fixed {
    #page-head .top-navs.navbar-fixed-top.affix .nav-global {
      top: 39px !important;
    }
    #page-head .top-navs.navbar-fixed-top.affix-top .nav-global {
      top: 39px !important;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1002;
}

.no-touch {
  .toolbar-fixed {
    .nav-location.affix, .locations-camps-template .nav-location.affix {
      top: 90px;
    }
  }
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
    .nav-location.affix, .locations-camps-template .nav-location.affix {
      top: 130px;
    }
  }
}

.carousel-caption .btn {
  padding: 15px 35px !important;
  font-size: 20px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.carousel-control.hidden {
  display: none !important;
}

section.node--type-camp.content {
  padding-top: 0;
}

.field--type-list-string fieldset legend,
.field--type-list-integer fieldset legend {
  font-weight: bold;
  color: #333;
  text-transform: none;
  font-size: 14px;
  margin-bottom: 0;
  padding: 7px 0 0;
}

.field--type-list-string fieldset legend .fieldset-legend,
.field--type-list-integer fieldset legend .fieldset-legend {
  line-height: 20px;
  color: #333;
}

body form .js-form-type-radio.form-item,
body form .field--widget-boolean-checkbox {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  min-height: 20px;
  padding-left: 20px;
  vertical-align: middle;

  input {
    float: left;
    margin-left: -20px;
  }

  label {
    display: inline;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}

.field--name-field-position {
  label {
    padding-left: 10px;
  }
}

.group-ex {
  span.result-name {
    white-space: normal;
  }
}

.content-expander .panel-title h2,
.content-expander .panel-title h4 {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.content-expander .panel-title h2 a:after,
.content-expander .panel-title h4 a:after {
  display: none;
}

.content-expander .panel-title h2 a:before,
.content-expander .panel-title h4 a:before {
  position: relative;
  top: 0;
  margin-right: .3em;
  content: "\e082";
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-size: .7em;
  font-family: 'Glyphicons Halflings';
}

.content-expander .panel-title h2 a.collapsed:before,
.content-expander .panel-title h4 a.collapsed:before {
  content: "\e081";
}

.masthead-brand .richtext p {
  margin-top: 5px;
  line-height: 90%;
  span {
    font-size: 50%;
  }
}

.schedules-template .panel-group > .content-expander > .panel-heading a:before {
  display: none;
}

.post-excerpt {
  .read-more-wrapper a {
    color: #0089d0;
    font-size: 16px;
    @include cachet();
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    transition: color .2s ease-out;
    &:hover {
      text-decoration: none;
      color: #006ea7;
    }
    &:after {
      text-transform: none;
      position: relative;
      top: 1px;
      margin-left: 10px;
      content: 'o';
      vertical-align: baseline;
      font-size: 20px;
      font-family: 'OPENM';
    }
  }
}

.checkbox-custom-label {
  font-weight: bold;
  padding: 7px 0 0;
}

.field--widget-boolean-checkbox {
  label {
    font-weight: normal;
  }
}

.field--type-address {
  summary {
    display: none;
  }
  div.address-container-inline > div.form-item {
    float: none;
    margin-right: 0;
  }
}

.field--type-list-string legend {
  border: none;
}

ul.linklist {
  padding-left: 0;
}

.google-maps iframe {
  width: 100% !important;
}

p.legend {
  border-bottom: 1px solid $extra-grey3;
  color: $extra-grey2;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}

.alerts-wrapper .alert {
  margin-top: 20px;
}

.modal-cover {
  position: fixed;
  z-index: 1040;
}

#modal.annual-report-modal {

  .modal-header {
    background: $dark-magenta;
    border-radius: 0;
    padding: 17px 50px 15px;

    @media screen and (max-width: 767px) {
      padding: 17px 50px 15px 10px;
    }

    #modal-title {
      overflow: hidden;
      line-height: 30px;

      h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
        line-height: 30px;
      }
      .modal-close {
        background: none;
        color: $white;
        @include cachet();
        font-weight: bold;
        right: 10px;
        text-decoration: none;
        top: 11px;
      }
    }
  }
  .modal-content {
    border-radius: 0;
    border: none;
  }
  @media screen and (max-width: 767px) {
    .modal-dialog {
      padding: 9px 28px 9px 9px;
    }
  }
}

.modal-annual-report {
  padding: 40px 60px 80px;

  @media screen and (max-width: 767px) {
    padding: 10px;
  }

  p {
    color: $extra-grey4;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  .blue_quote,
  .purple_quote {
    border-bottom: 1px solid $extra-grey3;
    font-size: 20px;
    line-height: 28px;
    padding: 60px 0 40px 23px;
    margin-bottom: 40px;

    .sign {
      color: $extra-grey5;
      font-style: italic;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
      }

      p:first-child {
        color: $dark-grey;
        margin-top: 30px;
      }
    }
  }
  .blue_quote {
    background: url('../img/quote_blue.png') no-repeat 0 0;
    color: $blue;
  }
  .purple_quote {
    background: url('../img/quote_purple.png') no-repeat 0 0;
    color: $dark-magenta;
  }
  iframe {
    margin: 40px 0;
  }
  .fullwidth {
    margin: 0 -60px;
    @media screen and (max-width: 767px) {
      margin: 0 -10px;
    }
  }
  th,
  .heading-row td {
    background: $blue;
    color: $white;
  }
  tr.total td {
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    .table-responsive {
      th:first-child {
        white-space: normal;
        width: 150px;
      }
      td:first-child {
        white-space: normal;
        width: 150px;
      }
    }
  }
}

/* jQuery Modal Form */
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 1031;
}

.ui-widget.ui-dialog {
  border: 0;
  border-radius: 0;
  padding: 0;
  z-index: 1032;
  @media screen and (max-width: 620px) {
    width: 90% !important;
    margin: 0;
    left: 5% !important;
  }
  .ui-dialog-titlebar {
    background: $dark-magenta;
    border: 0;
    border-radius: 0;
    @include cachet();
    position: relative;
    padding: 17px 50px 15px;
    .ui-dialog-title {
      color: $white;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      line-height: 30px;
    }
    .ui-dialog-titlebar-close {
      border: 0;
      border-radius: 0;
      background: transparent;
      padding: 0;
      right: 10px;
      margin: 0;
      top: 20px;
      position: absolute;
      &::before {
        content: "X";
        color: $white;
        @include cachet();
        font-weight: bold;
        text-decoration: none;
      }
      .ui-icon-closethick {
        display: none;
      }
      .ui-button-text {
        display: none;
      }
    }
  }
  .ui-dialog-content {
    padding: 20px 30px 10px;
    .landing-header {
      display: none;
    }
    .paragraph--type--simple-content {
      padding-top: 0;
    }
  }
}

/* End of jQuery Modal Form */

#block-subnavigationblock {
  position: static;
}

.icon-training {
  background-image: url("../img/training.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  opacity: 0.4;
  width: 30px;
}

body .ajax-progress-throbber {
  padding: 2px 5px 2px 2px;
  .throbber {
    background: url(../img/openm-lily-throbber.gif) no-repeat 0px center;
    background-size: cover;
    padding: 2px 8px 2px;
    &.path-account {
      top: 1px !important;
    }
  }
}

// CKEditor template plugins.
.green-3-col.container {
  background: $green3;
  position: relative;
  margin: 50px -100px -30px;
  padding: 50px 100px;

  &:before {
    position: absolute;
    top: 0px;
    left: -60%;
    bottom: 0;
    display: block;
    width: 100%;
    background-image: -webkit-linear-gradient($green4, $green3);
    background-image: -moz-linear-gradient($green4, $green3);
    background-image: -ms-linear-gradient($green4, $green3);
    background-image: linear-gradient($green4, $green3);
    content: '';
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
  }

  .row {
    h3 {
      color: $white;
    }
    h4 {
      color: $green5;
      text-transform: uppercase;
      font-size: 18px;
    }
    p {
      color: $white;
      font-size: 15px;
    }
    ul, ol {
      font-size: 15px;
      padding-left: 18px;
      margin: 20px 0;
      li {
        color: $white;
      }
    }
    .button a {
      box-shadow: none;
      background-color: $green1;
      background-image: -webkit-linear-gradient($green1, $green6);
      background-image: -moz-linear-gradient($green1, $green6);
      background-image: -ms-linear-gradient($green1, $green6);
      background-image: linear-gradient($green1, $green6);
      text-transform: uppercase;
      font-weight: bold;
    }
    .col-md-3 {
      @media screen and (min-width: 992px) {
        padding: 0;
      }
    }
    @media screen and (max-width: 767px) {
      .col-sm-4 {
        margin-bottom: 30px;
      }
    }
  }
}

.sports-promo.container {
  background: url("../img/march/openm_lily_member_retention_hero.jpg") no-repeat center 0;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: 50px -100px;
  padding: 50px 100px;

  .row {
    h3 {
      color: $white;
      font-size: 30px;
      line-height: 40px;
      text-shadow: 1px 1px 4px $black;
      margin: 0 0 10px;
    }

    h4 {
      color: $white;
      font-size: 18px;
      margin: 0 0 20px;
    }

    p {
      color: $grey11;
      margin: 0 0 30px;
    }

    .sports-icon {
      text-align: left;
      color: $pink;
    }

    .description {
      color: $pink;
      font-size: 18px;
      margin-top: 20px;
    }
  }
  .col-xs-12 {
    max-width: 480px;
    margin: 0 auto;
  }
}

body .ajax-progress-throbber {
  padding: 2px 5px 2px 2px;
  .throbber {
    background: url(../img/openm-lily-throbber.gif) no-repeat 0px center;
    background-size: cover;
    padding: 2px 8px 2px;
  }
}

.session_schedules {
  background-color: $grey1;
  margin: 0 -100px 50px;
  padding: 90px 65px;
  @media screen and (max-width: 767px) {
    padding: 20px 0;
    margin: 25px -15px;
  }

  .container .row h2 {
    text-align: center;
    color: $pink;
    margin: 0 0 80px;
    @media screen and (max-width: 767px) {
      margin: 0 0 20px;
    }
  }

  .row {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  .columns {
    display: inline-block;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
    @media screen and (min-width: 768px) {
      border-right: 1px solid $grey11;
      max-width: 240px;
      margin-bottom: 0;
      text-align: left;
      width: 19%;
    }
    &:nth-last-child(1) {
      border: none;
    }

    h4 {
      color: $grey4;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0 0 5px;
    }
    .date {
      color: $grey7;
      font-weight: bold;
      margin: 0 0 20px;
      p {
        color: $grey7;
        margin: 0;
      }
    }
    .register-label {
      color: $grey5;
      p {
        color: $grey5;
        margin: 0;
      }
    }
    .register-date {
      color: $pink;
      p {
        color: $pink;
        margin: 0;
      }
    }
  }
}

.clinics_schedule {
  margin: 0 -100px;
  padding: 80px 65px;
  @media screen and (max-width: 767px) {
    padding: 20px 0;
    margin: 0 -15px;
  }

  .container .row h2 {
    text-align: center;
    color: $blue1;
    margin: 0 0 15px;
  }

  .container .row h3 {
    text-align: center;
    text-transform: none;
    color: $grey7;
    font-size: 18px;
    margin: 0 0 15px;
  }

  .container .row h4 {
    text-align: center;
    text-transform: uppercase;
    color: $grey7;
    font-size: 18px;
    margin: 0 0 40px;
  }

  .description {
    text-align: center;
    margin: 0 auto 30px;
    font-size: 15px;
    max-width: 500px;
    padding: 0 10px;
  }

  .row {
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }
  .container .row .columns {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    width: 100%;
    @media screen and (min-width: 768px) {
      border-right: 1px solid $grey11;
      margin-bottom: 0;
      width: 33%;
      max-width: 235px;
    }
    &:nth-last-child(1) {
      border: none;
    }

    h5 {
      color: $blue1;
      font-size: 18px;
      font-weight: normal;
      margin: 0;
    }
    .date {
      color: $pink;
      font-size: 18px;
      p {
        color: $pink;
        margin: 0;
      }
    }
    .img-wrapper {
      img {
        display: inline-block;
        margin-bottom: 20px;
      }
    }
  }
}

.nav-home {
  .nav-level-1 {
    > li {
      background: none;
    }
  }
}

.internal-template.node--type-article #carousel .even-heights .active.item {
  min-height: 300px;
  max-height: 500px;
}

.program-header .content .image img {
  max-width: none;
  float: right;
}
