{#
/**
 * @file
 *
 * Available variables:
 * - locations: locations of "repeat" entity for filter.
 * - categories: categories of "repeat" entity for filter.
 */
#}

{% extends '@openm_activity_finder/openm-activity-finder-program-search-page.html.twig' %}

{# sidebar #}
{% block sidebar_wrapper %}
  <div class="col-sm-12 col-lg-3 collapse schedule-dashboard__sidebar">
{% endblock %}

{# main table #}
{% block maintable_wrapper %}
  <div class="col-sm-12 col-lg-9 schedule-dashboard__content main-table">
{% endblock %}

{% block modal_info_main %}
  <div class="col-lg-7 modal-info-main">
{% endblock %}

{% block modal_info_sidebar %}
  <div class="col-lg-5 modal-info-sidebar">
{% endblock %}