<h2>{{ 'Find the Membership That’s Best For You'|t }}</h2>
<p>{{ 'Your membership gives you access to all OPENM branch locations!'|t }}</p>
<ul>
  {% for step in steps %}
  <li{% if step.active %} class="active"{% endif %}>
  <a href="#step{{ step.number }}" data-toggle="tab" data-step="{{ step.number }}">{{ step.number }}. {{ step.title }}</a>
  </li>
  {% endfor %}
</ul>
