<h2 tabindex="0" class="display-6 mb-3">{{ 'Find the Membership That’s Best For You'|t }}</h2>
<p tabindex="0" class="description purple mb-2">{{ 'Your membership gives you access to all OPENM branch locations!'|t }}</p>

<ul role="tablist" aria-label="{{ 'Membership options selection'|t }}" class="nav nav-pills nav-fill mb-5">
  {% set active_step = 1 %}
  {% for step in steps %}
    {% if step.active %}
      {% set active_step = step.number %}
    {% endif %}
  {% endfor %}
  {% for step in steps %}
    {%
    set step_attributes = create_attribute()
        .setAttribute('role', 'tab')
        .setAttribute('aria-selected', loop.index == active_step ? 'true': 'false')
        .setAttribute('tabindex', loop.index == active_step ? '0': '-1')
    %}
  <li class="nav-item{% if step.active %} active{% endif %}">
    <div class="step-{{ step.number }}" data-toggle="tab" data-step="{{ step.number }}">
      <span class="nav-pills__text" {% if step.number == active_step %}aria-label="{{ 'current step is'|t }} {{ step.title }}"{% endif %}>
        {{ step.number }}. <a {{ step_attributes }} class="sr-only-focusable" href="#">{{ step.title }}</a>
      </span>
    </div>
  </li>
  {% endfor %}
</ul>
