{#
/**
 * @file
 * Default theme implementation to display a event contact info.
 *
 * Available variables:
 * - info: The info array with access to contact data.
 *   - info.phone will return contact phone number.
 *   - info.fax will return contact fax number.
 *   - info.email will return contact email.
 *
 * @see openm_node_event_preprocess_field__node__field_event_location__event()
 *
 * @ingroup themeable
 */
#}
<div class="d-inline-block w-100">
  <h5><i class="far fa-question-circle text-gray-300"></i> {{ 'Contact Information'|t }}</h5>

  {% if info.phone is not empty %}
    <div class="contact-phone"><i class="fa fa-phone text-gray-300"></i> <a href="tel:{{ info.phone }}">{{ info.phone }}</a></div>
  {% endif %}

  {% if info.fax is not empty %}
    <div class="contact-fax"><i class="fa fa-fax text-gray-300"></i> <a href="tel:{{ info.fax }}">{{ info.fax }}</a></div>
  {% endif %}

  {% if info.email is not empty %}
    <div class="contact-email"><i class="fa fa-envelope text-gray-300"></i> {{ info.email }}</div>
  {% endif %}
</div>
