{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container {{ camp_class }}">
  {# mobile menu #}
  <div class="mobile-menu top-navs fixed-top d-block d-lg-none">
    <nav class="nav-global navbar-default navbar navbar-dark">
      <div class="container-fluid p-0">
        <div class="d-flex w-100">
          <div class="col-auto mr-auto">
            {% block mobile_logo %}
              {% if mobile_logo_url %}
                <a class="mobile-logo d-block d-lg-none" href="{{ front_page }}" title="{{ site_slogan|t }}" rel="{{ site_slogan|t }}">
                  {% if site_logo_is_svg %}
                    {{ site_logo_svg|raw }}
                  {% else %}
                    <img src="{{ mobile_logo_url }}" alt="{{ site_slogan|t }}">
                  {% endif %}
                </a>
              {% else %}
                <a class="navbar-brand" href="{{ base_path }}" title="{{ site_slogan|t }}" rel="{{ site_slogan|t }}"></a>
              {% endif %}
            {% endblock %}
          </div>

          <div class="col-auto">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target=".sidebar-left" aria-controls="sidebar-left" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        </div>
      </div>
    </nav>
  </div>

  {# mobile sidebar #}
  <div id="sidebar" class="mobile-sidebar sidebar sidebar-left fixed-top collapse fade d-block d-lg-none">
    <div class="row px-3 px-lg-0">

        {% if display_search %}
          <div class="search-form-wrapper col-12 border-top border-bottom">
            <form method="get" action="{{ search_results_path }}">
              <i class="fa fa-search search-input-decoration" aria-hidden="true"></i>
              <input type="search" name="{{ search_key }}" class="search-input" placeholder="{{ 'Search'|t }}">
              <input type="submit" value="Search">
            </form>
          </div>
        {% endif %}

      <div class="page-head__main-menu col-12">
        {{ page.top_menu }}
        {{ page.mobile_menu }}
      </div>

    </div>
  </div>

  <div class="viewport">
    <header id="page-head" class="page-head">
      <div class="desktop-menu top-navs fixed-top d-none d-lg-block" data-spy="affix" data-offset-top="1">
        <nav class="nav-global navbar-openmgs navbar p-0">
          <div class="container-fluid m-0 p-0">

            {# sitename & secondary menu(login, google translation) #}
            <div class="page-head__top-menu d-flex align-items-stretch w-100">
              <div class="col-md-3 site-name">
                  <span class="d-none d-lg-block">
                    {% if site_slogan %}
                      {{ site_slogan }}
                    {% endif %}
                  </span>
              </div>
              <div class="col-md">
                {{ page.secondary_menu }}
              </div>
            </div>
            <div class="col-md-12 header-content d-none d-sm-block p-0">

                {# search #}
                {% if display_search %}
                  <div class="page-head__search fade collapse">
                    <div class="search-form-wrapper">
                      <form method="get" action="{{ search_results_path }}">
                        <i class="fa fa-search search-input-decoration" aria-hidden="true"></i>
                        <input type="search" name="{{ search_key }}" class="search-input" placeholder="{{ 'Search'|t }}">
                        <input type="submit" value="Search">
                      </form>
                      <button class="navbar-toggler page-head__search-close text-white" type="button" data-toggle="collapse" data-target=".page-head__search" aria-controls="page-head__search" aria-expanded="false" aria-label="Hide search bar">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                {% endif %}

                {# fullsite logo #}
                {% block fullsite_logo %}
                  <div class="col-md-2 logo">
                    <span></span>
                    {% if logo_url %}
                      <a class="d-block" href="{{ front_page }}" title="{{ site_slogan|t }}" rel="{{ site_slogan|t }}">
                        {% if site_logo_is_svg %}
                          {{ site_logo_svg|raw }}
                        {% else %}
                          <img src="{{ logo_url }}" alt="{{ site_slogan|t }}" />
                          <img src="{{ transparent_logo_url }}" alt="{{ site_slogan|t }}" />
                        {% endif %}
                      </a>
                    {% else %}
                      <a class="navbar-brand" href="{{ base_path }}" title="{{ site_slogan|t }}" rel="{{ site_slogan|t }}"></a>
                    {% endif %}
                  </div>
                {% endblock %}

                {# main navigation menu #}
                <div class="page-head__main-menu nav-home nav-desktop col-md-10">
                  {{ page.primary_menu }}
                </div>
            </div>

          </div>
        </nav>
      </div>
    </header>

    {{ page.highlighted }}
    {{ page.help }}

    <main class="clearfix">
        {% block pagecontent %}
          {{ page.content }}
        {% endblock %}
    </main>

    <div class="pre-footer">
      <div id="openm_alerts_footer_placeholder"></div>
      {{ page.pre_footer }}
    </div>

    <footer class="footer">
      <div class="container py-5">
        <div class="row py-3">

          {% if page.footer_info|render|trim is not empty %}
          <div class="col-12 col-lg">
            {{ page.footer_info }}
          </div>
          {% endif %}

          {% if page.footer_tel|render|trim is not empty %}
          <div class="col-12 col-lg">
              {{ page.footer_tel }}
          </div>
          {% endif %}

          {% if page.footer_mail|render|trim is not empty %}
          <div class="col-12 col-lg">
              {{ page.footer_mail }}
          </div>
          {% endif %}

          {% if page.footer_social|render|trim is not empty %}
          <div class="col-12 col-lg text-center">
            {{ page.footer_social }}
          </div>
          {% endif %}

        </div>
      </div>

      <div class="footer__copyright container-fluid py-3">
        <div class="row">
          <div class="col-12 col-lg-4 order-1 order-lg-2 footer-menu-links">
           {{ page.footer_menus }}
          </div>
          <div class="col-12 col-lg-8 order-2 order-lg-1 footer-copy-links">
           {{ page.footer_copyright }}
          </div>
         </div>
       </div>
    </footer>

  </div>

</div>
