{#
/**
 * @file
 * Default theme implementation to display branch contacts info.
 *
 * Available variables:
 * - node_bundle: will return node bundle
 * - branch_title: will return branch title
 * - openm_branch_selector: will return rendered branch selector code
 * - phone: will return branch phone number
 * - fax: will return branch fax number
 * - email: will return branch email
 * - address_title: will return formatted branch address string
 * - directions_url: will return link to Google Maps linked to location address
 * - branch_hours: will return rendered branch hours widget
 * - directions_field_url: will return directiods field url
 * - directions_field_title: will return directiods field title
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('branch-header') }}>
  <section class="hidden-xs desktop">
    <div class="container">
      <div class="row back-link">
        <i class="fa fa-arrow-circle-left mr-2" aria-hidden="true"></i>
        {{ link('Back to All Locations', 'internal:/locations' ) }}
      </div>

      <address class="row branch-header-inner branch-info" data-branch-name="{{ node.label }}">
        <div class="column col-sm-3 col-md-2 branch-header__item">
          <h4>{{ 'WELCOME TO THE'|t }}</h4>
          <p>{{ branch_title }}</p>
          <p class="branch-header__directions"><a href="{{ directions_field_url }}"
                                                  title="{{ directions_field_title }}">{{ directions_field_title }}</a>
          </p>
        </div>
        <div class="column col-sm-3 address-wrapper branch-header__item">
          <h4>{{ 'ADDRESS'|t }}</h4>
          <a target="_blank" href="{{ directions_url }}" title="{{ address_title }}">{{ address_title }}</a>
        </div>
        <div class="column col-sm-3 col-md-2 branch-header__item">
          <h4>{{ 'PHONE'|t }}</h4>
          <a href="tel:{{ phone }}">{{ phone }}</a>
          {% if fax %}
            <br/><a href="tel:{{ fax }}">{{ fax }}</a> (fax)
          {% endif %}
          {% if email is not empty %}
            <h4 class="branch-header__email-header">{{ 'EMAIL'|t }}</h4>
            <a href="mailto:{{ email }}">{{ email }}</a>
          {% endif %}
        </div>
        <div class="column col-sm-3 col-md-2 branch-header__item">
          <h4>{{ 'TODAY\'S HOURS'|t }}</h4>
          {{ branch_hours }}
        </div>
        <div class="column col-sm-3 col-md-3 save-link branch-header__item">
          {# @see openm_branch_selector module #}
          {{ openm_branch_selector }}
        </div>
      </address>
    </div>
  </section>

  <blockquote class="hidden-sm hidden-md hidden-lg mobile">
    <address class="container">
      <div class="row">
        <div class="col-xs-12 back-link">
          <i class="fa fa-arrow-circle-left mr-2" aria-hidden="true"></i>
          {{ link('Back to All Locations', 'internal:/locations' ) }}
        </div>
        <div class="col-xs-12">
          <h4>{{ 'WELCOME TO THE'|t }}</h4>
          <p>{{ branch_title }}</p>
          <p class="branch-header__directions"><a href="{{ directions_field_url }}"
                                                  title="{{ directions_field_title }}">{{ directions_field_title }}</a>
          </p>
        </div>
        <div class="ui-tabs">
          <ul class="ui-tabs-nav">
            <li><a href="#tabs-phone"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
            {% if email is not empty %}
              <li><a href="#tabs-email"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            {% endif %}
            <li><a href="#tabs-marker"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
            <li><a href="#tabs-clock"><i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
          </ul>
          <div id="tabs-phone" class="ui-tabs-panel col-xs-12">
            <h4>{{ 'PHONE'|t }}</h4>
            <a href="tel:{{ phone }}">{{ phone }}</a>
            {% if fax %}
              <br/><a href="tel:{{ fax }}">{{ fax }}</a> ({{ 'fax'|t }})
            {% endif %}
          </div>
          {% if email is not empty %}
            <div id="tabs-email" class="ui-tabs-panel col-xs-12">
              <h4>{{ 'EMAIL'|t }}</h4>
              {{ email }}
            </div>
          {% endif %}
          <div id="tabs-marker" class="ui-tabs-panel col-xs-12">
            <h4>{{ 'ADDRESS'|t }}</h4>
            <a target="_blank" href="{{ directions_url }}" title="{{ address_title }}">{{ address_title }}</a>
          </div>
          <div id="tabs-clock" class="ui-tabs-panel col-xs-12">
            <h4>{{ 'TODAY\'S HOURS'|t }}</h4>
            {{ branch_hours }}
          </div>
        </div>
        <div id="save-location">
          {# @see openm_branch_selector module #}
          {{ openm_branch_selector }}
        </div>
      </div>
    </address>
  </blockquote>
</div>
