{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

{% if content.field_program_color is empty %}
  {% set color = 'inherit' %}
  {% set bg_color = '' %}
{% else %}
  {% set color = '#' ~ content.field_program_color['#items'].entity.field_color.value %}
  {% set bg_color = 'background-color: '  ~  color %}
{% endif %}

{% if content.field_header_content|render|trim is not empty %}
  <article{{ attributes.addClass(header_classes) }}>
    <div{{ content_attributes.addClass(header_content_classes) }}>
      <div class="main">
        {{ content.field_header_content }}
      </div>
    </div>
  </article>
{% else %}
  <div{{ attributes.addClass('program-header banner banner--small') }}>
    <div{{ content_attributes.addClass('banner-cta d-block d-lg-flex', overlay_class).setAttribute('style', bg_color) }}>

      {% if header_image|render|trim is not empty %}
        <div class="banner-bg" style="background: url('{{ header_image }}') center center; background-size: cover;">
          <span></span>
        </div>
      {% endif %}

      <div class="banner-cta-content container align-items-center text-white m-auto py-4 py-lg-5">
        <div class="banner-cta-section row align-items-center">

          {% if content.field_program_icon|render|trim is not empty %}
          <div class="banner-icon col d-none d-md-flex align-items-center">
            {{ content.field_program_icon }}
          </div>
          {% endif %}

          {% if label|render|trim is not empty %}
          <h1 class="banner-title text-uppercase m-0 text-white col">
            {{ label }}
          </h1>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endif %}

{{ drupal_breadcrumb() }}
<div id="openm_alerts_header_placeholder"></div>
{{ drupal_block('local_tasks_block') }}
<a id="main-content" tabindex="-1" class="sr-only sr-only-focusable"></a>

{% set hasSidebar = content.field_sidebar_content and content.field_sidebar_content|render|striptags|trim %}

<div class="container">

  {% if content.field_program_description|render|trim is not empty %}
  <div class="row">
    <div class="main-region col">
      <p class="lead">{{ content.field_program_description }}</p>
    </div>
  </div>
 {% endif %}

  <div class="row mt-3">

    {# Program content #}
    <div class="main-region col">
      {{ content.field_content }}
    </div>

    {# Program sidebar #}
    {% if hasSidebar %}
    <div class="sidebar-region col-md-5 col-lg-4">
      <article class="program-sidebar">
        {{ content.field_sidebar_content }}
      </article>
    </div>
    {% endif %}

  </div>
</div>
