{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container {{ layout_class }}">

  <div class="top-navs navbar-fixed-top visible-xs visible-sm" data-spy="affix" data-offset-top="165">
    <div class="nav-global navbar-default navbar">
      <div class="container">
        <div class="row">
          <div class="page-head__logo">
            {% block page_logo %}
              {{ page.logo }}
            {% endblock %}
          </div>

          <button aria-controls="sidebar" aria-expanded="false" class="collapsed navbar-toggle visible-xs visible-sm" data-target="#sidebar" data-toggle="collapse" type=button>
            <div class=sr-only>{{ 'Navigation menu'|t }}</div>
            <span class=icon-bar></span>
            <span class=icon-bar></span>
            <span class=icon-bar></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="sidebar sidebar-left collapse width" aria-hidden="true">
    {% if display_search %}
      <div class="search-form-wrapper col-xs-12">
        <form method="get" action="{{ search_results_path }}">
          <input type="search" name="{{ search_key }}" class="search-input" placeholder="{{ 'Search'|t }}">
          <input type="submit" value="Search">
        </form>
      </div>
    {% endif %}
    <div class="col-xs-12 page-head__top-menu">
      {{ page.mobile_menu.openm_rose_useraccountmenu }}
      {{ page.mobile_menu.openm_rose_gtranslate_mobile }}
    </div>
    <div class="col-xs-12 page-head__main-menu nav-home">
      {{ page.mobile_menu.openm_rose_mainnavigation }}
    </div>
  </div>

  <div class="viewport">
    <header id="page-head" class="page-head">
      <div class="top-navs navbar-fixed-top hidden-xs hidden-sm" data-spy="affix" data-offset-top="165">
        <div class="nav-global navbar-openmgs navbar">
          <div class="container">
            <div class="row">
              <div class="page-head__logo">
                {% block page_logo_2 %}
                  {{ page.logo }}
                {% endblock %}
              </div>

              <a class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <div class="col-md-12 header-content hidden-xs">
                <div class="clearfix page-head__top-menu">
                  {{ page.secondary_menu }}
                </div>
                <div class="clearfix page-head__main-menu nav-home">
                  {{ page.primary_menu }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

    {{ page.header }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        {% block pagecontent %}
          {{ page.content }}
        {% endblock %}
      </div>{# /.layout-content #}
    </main>

    <div class="pre-footer">
      {{ page.pre_footer }}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="col-sm-2 col-xs-4 hidden-sm hidden-md">
          {% block footer_image_link %}
            {% set background_image = '' %}
            {% if footer_logo %}
              {% set background_image = " style='background-image: url(" ~ file_url(footer_logo) ~ ")'" %}
            {% endif %}
            <a href="{{ front_page }}" class="footer__brand brand" title="{{ "Go to homepage"|t }}"{{ background_image|raw }}></a>
          {% endblock %}
        </div>
        <div class="col-xs-8 col-sm-12 col-md-7 col-lg-6">
          <div class="footer__nav row">
            {{ page.footer_menus }}
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 footer__social">
          {{ page.footer_social }}
        </div>
      </div>
    </footer>

  </div>{# /.viewport #}

</div>{# /.layout-container #}
