{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container {{ layout_class }}">

  <div class="top-navs navbar-fixed-top visible-xs visible-sm" data-spy="affix" data-offset-top="165">
    <div class="nav-global navbar-default navbar">
      <div class="container">
        <div class="row">
          <div class="page-head__logo">
            {% block page_logo %}
              {{ page.logo }}
            {% endblock %}
          </div>

          <button aria-controls="sidebar" aria-expanded="false" class="collapsed navbar-toggle visible-xs visible-sm" data-target="#sidebar" data-toggle="collapse" type=button>
            <div class=sr-only>{{ 'Navigation menu'|t }}</div>
            <span class=icon-bar></span>
            <span class=icon-bar></span>
            <span class=icon-bar></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="sidebar" class="sidebar sidebar-left collapse width" aria-hidden="true">
    <div class="col-xs-12 page-head__main-menu nav-home">
      {{ page.mobile_menu.openm_rose_mainnavigation }}
    </div>
  </div>

  <div class="viewport">
    <header id="page-head" class="page-head">
      <div class="top-navs navbar-fixed-top hidden-xs hidden-sm" data-spy="affix" data-offset-top="165">
        <div class="nav-global navbar-openmgs navbar">
          <div class="container">
            <div class="row">
              <div class="page-head__logo">
                {% block page_logo_2 %}
                  {{ page.logo }}
                {% endblock %}
              </div>

              <a class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-left">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <div class="col-md-12 header-content hidden-xs">
                <div class="page-head__search collapse">
                  <div class="search-form-wrapper">
                    {{ page.search }}
                    <form method="get" action="{{ search_results_path }}">
                      <i class="fa fa-search search-input-decoration" aria-hidden="true"></i>
                      <input type="search" name="{{ search_key }}" class="search-input" placeholder="{{ 'Search'|t }}">
                      <input type="submit" value="Search">
                    </form>
                    <a href="#" data-target=".page-head__search" data-toggle="collapse" class="page-head__search-close">
                      <i class="fa fa-times" aria-hidden="true"></i>
                      {{ "Cancel"|t }}
                    </a>
                  </div>
                </div>
                <div class="clearfix page-head__top-menu">
                  {{ page.secondary_menu }}
                </div>
                <div class="clearfix page-head__main-menu nav-home">
                  {{ page.primary_menu }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

  </div>{# /.viewport #}

</div>{# /.layout-container #}
