{% extends '@openm_lily/page/page.html.twig' %}

{% block home_heading %}
  <section class="masthead">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-sm-7">
          <a class="masthead-brand" href="{{ url('<front>') }}">{{ site_name }}</a>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-12">
          {{ site_phone }}
        </div>
        <div class="col-lg-4 col-sm-4 location-search-column">
          <form class="find-locations" action="{{ locations_path }}">
            <div class="form-group location-search">
              <div class="col-xs-12 control-label text-center location-search-collapse in collapse">
                <a href="#" data-target=".location-search-collapse" class="btn btn-block btn-info"
                   data-toggle="collapse">{{ 'Find Y and Camp Locations'|t }}</a>
              </div>
              <label class="sr-only" for="location-search">
                {{ 'Find Y and Camp Locations'|t }}
              </label>
              <div class="form-group collapse location-search-collapse">
                <div class="input-group">
                  <input type="text" class="form-control" id="location-search" name="map_location"
                         placeholder="Enter ZIP Code">
                      <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary">{{ 'Go'|t }}</button>
                    </span>
                </div>
              </div>
            </div>
          </form>
          <div class="col-xs-12 text-center newsletter-link-wrapper">
            {{ newsletter_link }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
