{% extends '@openm_lily/page/page.html.twig' %}

{% block pagecontent %}
  <section class="page-heading black-header page-title title-only">
    <div class="container-fluid">
      <h1>{{ page_title }}</h1>
    </div>
  </section>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
