{#
/**
 * @file
 *
 * Available variables:
 * - inheirted from 'openm-repeat-schedule-dashboard.html.twig'.
 */
#}

{# date arrows & title #}
<div class="row schedule-dashboard__content--header">

  {% block date_wrapper %}
  <div class="col-sm-12 col-md-12 col-lg-5 day-label">
    {% endblock %}
    <h2 class="d-flex justify-content-between">
      <button v-if="showBackArrow()" v-on:click.stop="backOneDay" class="schedule-dashboard__arrow left" role="button"
              aria-label="previous date"><i class="fa fa-angle-left"></i></button>
      <button v-else v-on:click.stop="backOneDay" class="schedule-dashboard__arrow left" role="button"
              aria-label="previous date" disabled><i class="text-muted fa fa-angle-left"></i></button>
      <span class="date" v-cloak>${ dateFormatted }</span>
      <button v-if="showForwardArrow()" v-on:click.stop="forwardOneDay" class="schedule-dashboard__arrow right"
              role="button" aria-label="next date"><i class="fa fa-angle-right"></i></button>
      <button v-else v-on:click.stop="forwardOneDay" class="schedule-dashboard__arrow right"
              role="button" aria-label="next date" disabled><i class="text-muted fa fa-angle-right"></i></button>
    </h2>
  </div>
</div>

{# schedules table data #}
<div>
  <results inline-template :prop-data="pagedTable">
    <div class="vue-template">

      <div class="schedules-data clearfix">
        <div v-for="(item, index) in propData" class="schedules-data__row">
          <div class="col-xs-3 col-md-2 col-sm-2">
            {# time #}
            <div class="time-column" v-cloak>
              <strong class="time">${ item.time_start }</strong>
              <p>
                <span v-if="item.duration_hours > 0">${ item.duration_hours }{{ 'h'|t }}</span>
                <span v-if="item.duration_minutes > 0">${ item.duration_minutes }{{ 'min'|t }}</span>
              </p>
            </div>
          </div>
          <div class="col-xs-9 col-md-10 col-sm-10">
            <div class="row">
              <div class="col-xs-12 col-md-3 col-sm-3">
                {# class #}
                <div class="class-column" v-cloak>
                  <strong><a class="schedule-dashboard__modal--class-link" role="button"
                             v-on:click="$parent.populatePopupClass(item.nid)" data-toggle="modal"
                             data-target=".schedule-dashboard__modal--class">${ item.name }</a></strong>
                  <p><span>${ item.category }</span></p>
                </div>
              </div>
              <div class="col-xs-12 col-md-3 col-sm-3">
                {# location #}
                <div v-cloak class="location-column">
                  <strong><a class="d-none d-sm-block schedule-dashboard__modal--location-link" role="button"
                             v-on:click="$parent.populatePopupLocation(index)" data-toggle="modal"
                             data-target=".schedule-dashboard__modal--location">${ item.location }</a>
                    <p class="d-block d-sm-none">${ item.location }</p>
                  </strong>
                  <p><span v-if="item.room">${ item.room }</span></p>
                </div>

              </div>

              <div class="col-xs-6 col-md-2 col-sm-2">
                {# instructor #}
                <div v-cloak class="instructor-column">
                  <a class="schedule-dashboard__modal--instructor-link" role="button"
                     v-on:click="$parent.populatePopupInstructor(item.instructor)" data-toggle="modal"
                     data-target=".schedule-dashboard__modal--instructor">${ item.instructor }</a>
                </div>
              </div>

              <div class="col-xs-6 col-md-2 col-sm-2">

                {# add to calendar #}
                <div v-cloak v-on:click="showAddToCalendar(index, '')" v-on:keyup.enter="showAddToCalendar(index, '')" class="calendar-column">
                  <span class="addtocalendar">
                    <var class="atc_event">
                      <var class="atc_date_start">${ addToCalendarDate(item.time_start_calendar) }</var>
                      <var class="atc_date_end">${ addToCalendarDate(item.time_end_calendar) }</var>
                      <var class="atc_timezone">${ item.timezone }</var>
                      <var class="atc_title">${ item.name }</var>
                      <var class="atc_description"></var>
                      <var class="atc_location"></var>
                      <var class="atc_organizer"></var>
                    </var>
                  </span>
                </div>
              </div>

              <div class="col-xs-6 col-md-2 col-sm-2">
                {# register btn #}
                <div v-cloak class="register-column" v-if="item.register_url">
                  <a v-bind:href="item.register_url" class="btn btn-primary register-btn">${ item.register_text }</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="schedules-empty_results hidden">
          <i class="fa fa-exclamation-circle"></i>
          <span>{{ 'Sorry, no results were found with your search criteria. Please try another selection.'|t }}</span>
        </div>

        <div v-cloak v-if="isLoading === true" class="schedules-loading">
          {% include '@openm_system/openm-system--ajax-spinner.html.twig' %}
        </div>

        <div v-if="getTotalPages() > 1" v-cloak class="schedule-dashboard__pager row">
          <div class="col-md-3 col-xs-3 text-left">
            <a v-if="currentPage > 1" v-on:click="loadFirstPage()" class="btn schedule-dashboard__pager--first">
              |<
            </a>
            <a v-else="currentPage === 1" class="btn schedule-dashboard__pager--first" disabled="disabled">
              |<
            </a>
            <a v-if="currentPage > 1" v-on:click="loadPrevPage()" class="btn schedule-dashboard__pager--prev">
              <
            </a>
            <a v-else="currentPage === 1" class="btn schedule-dashboard__pager--prev" disabled="disabled">
              <
            </a>
          </div>

          <div class="col-md-6 col-xs-6">
            <div class="schedule-dashboard__pager--current">Page ${ currentPage } of ${ getTotalPages() }</div>
          </div>
          <div class="col-md-3 col-xs-3 text-right">
            <a v-if="currentPage < getTotalPages()" v-on:click="loadNextPage()" class="btn schedule-dashboard__pager--next">
              >
            </a>
            <a v-else="currentPage === getTotalPages()" class="btn schedule-dashboard__pager--next" disabled="disabled">
              >
            </a>
            <a v-if="currentPage < getTotalPages()" v-on:click="loadLastPage()" class="btn schedule-dashboard__pager--last">
              >|
            </a>
            <a v-else="currentPage === getTotalPages()" class="btn schedule-dashboard__pager--last" disabled="disabled">
              >|
            </a>
          </div>
        </div>

      </div>
    </div>
  </results>

  {# Modals should be within Vue app block #}

  {# modal > location info  #}
  <div class="modal fade hidden-xs schedule-dashboard__modal schedule-dashboard__modal--location" tabindex="-1" role="dialog"
       aria-labelledby="schedule-dashboard__modal--location-link">
    <div class="modal-cover"></div>
    <div class="modal-dialog px-2" role="document">
      <div class="modal-content">

        <div class="schedule-dashboard__modal--header">
          <h5 class="modal-title">Activity details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"
                                                                                         aria-hidden="true"></i>
          </button>
        </div>

        <div class="schedule-dashboard__modal--body">
          <div class="header-border p-3">
            <h4><strong>${ locationPopup.title }</strong></h4>
          </div>
          <table class="table m-3">
            <tr>
              <td><label>{{ 'Address'|t }}</label></td>
              <td>${ locationPopup.address }</td>
            </tr>
            <tr>
              <td><label>{{ 'Call'|t }}</label></td>
              <td><a v-bind:href="'tel:' + locationPopup.phone">${ locationPopup.phone }</a></td>
            </tr>
            <tr v-if="locationPopup.email">
              <td><label>{{ 'Email'|t }}</label></td>
              <td><a v-bind:href="'mailto:' + locationPopup.email">${ locationPopup.email }</a></td>
            </tr>
            <tr>
              <td><label>{{ 'Branch hours'|t }}</label></td>
              <td>
                <table class="table m-3">
                  <tr v-for="row in locationPopup.days">
                    <td>${ row[0] }</td>
                    <td>${ row[1] }</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>

        <div class="schedule-dashboard__modal--footer">
          <a class="btn btn-lg btn-primary"
             v-bind:href="'{{ url('<front>') }}node/' + locationPopup.nid">{{ 'View branch'|t }}</a>
        </div>
      </div>
    </div>
  </div>

  {# modal > class info  #}
  <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--class" tabindex="-1" role="dialog"
       aria-labelledby="schedule-dashboard__modal--class-link">
    <div class="modal-cover"></div>
    <div class="modal-dialog px-2" role="document">
      <div class="modal-content">

        <div class="schedule-dashboard__modal--header">
          <h5 class="modal-title">Activity details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"
                                                                                         aria-hidden="true"></i>
          </button>
        </div>

        <div class="schedule-dashboard__modal--body">
          <div class="header-border p-3">
            <h4><strong>${ classPopup.title }</strong></h4>
            <p class="m-b">${ classPopup.description }</p>
          </div>

          <div v-for="(item, index) in classPopup.schedule" class="schedules-data__row">
            <div class="col-md-2 col-sm-6 col-xs-6">
              {# date #}
              <div class="date-column" v-cloak>
                <strong>${ item.short_date }</strong>
                <p><span>${ item.day_name }</span></p>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              {# time #}
              <div class="time-column" v-cloak>
                <strong class="time">${ item.time_start }</strong>
                <p>
                  <span v-if="item.duration_hours > 0">${ item.duration_hours }{{ 'h'|t }}</span>
                  <span v-if="item.duration_minutes > 0">${ item.duration_minutes }{{ 'min'|t }}</span>
                </p>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
              {# location #}
              <div v-cloak class="location-column">
                <strong>${ item.location }</strong>
                <p><span v-if="item.room">${ item.room }</span></p>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              {# instructor #}
              <div v-cloak class="instructor-column">
                <a class="schedule-dashboard__modal--instructor-link" role="button"
                   v-on:click="populatePopupInstructor(item.instructor)" data-toggle="modal"
                   data-target=".schedule-dashboard__modal--instructor">${ item.instructor }</a>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              {# add to calendar #}
              <div v-cloak class="calendar-column">
            <span class="addtocalendar">
              <var class="atc_event">
                <var class="atc_date_start">${ addToCalendarDate(item.time_start_calendar) }</var>
                <var class="atc_date_end">${ addToCalendarDate(item.time_end_calendar) }</var>
                <var class="atc_timezone">${ item.timezone }</var>
                <var class="atc_title">${ item.name }</var>
                <var class="atc_description"></var>
                <var class="atc_location"></var>
                <var class="atc_organizer"></var>
              </var>
            </span>
              </div>
            </div>


            {# category #}
            <div v-cloak class="category-column hidden">
              ${ item.category }
            </div>

            {# register btn #}
            <div v-cloak class="register-column" v-if="item.register_url">
              <a v-bind:href="item.register_url" class="btn btn-primary register-btn">${ item.register_text }</a>
            </div>
          </div>

          <div class="schedules-loading">
            {% include '@openm_system/openm-system--ajax-spinner.html.twig' %}
          </div>

        </div>

        <div class="schedule-dashboard__modal--footer"></div>

      </div>
    </div>
  </div>

  {# modal > instructor info  #}
  <div class="modal fade schedule-dashboard__modal schedule-dashboard__modal--instructor" tabindex="-1" role="dialog"
       aria-labelledby="schedule-dashboard__modal--instructor-link">
    <div class="modal-cover"></div>
    <div class="modal-dialog px-2" role="document">
      <div class="modal-content">
        <div class="schedule-dashboard__modal--header">
          <h5 class="modal-title">Activity details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"
                                                                                         aria-hidden="true"></i>
          </button>
        </div>

        <div class="schedule-dashboard__modal--body">
          <div class="header-border p-3">
            <h4><strong>${ instructorPopup.name}</strong></h4>
          </div>
          <div v-for="(item, index) in instructorPopup.schedule" class="schedules-data__row">

            <div class="hidden-md hidden-lg col-sm-12 col-xs-12">
              {# class #}
              <div class="class-column" v-cloak>
                <strong><a class="schedule-dashboard__modal--class-link" role="button"
                           v-on:click="populatePopupClass(item.nid)" data-toggle="modal"
                           data-target=".schedule-dashboard__modal--class">${ item.name }</a></strong>
                <p><span>${ item.category }</span></p>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              {# date #}
              <div class="date-column" v-cloak>
                <strong>${ item.short_date }</strong>
                <p><span>${ item.day_name }</span></p>
              </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
              {# time #}
              <div class="time-column" v-cloak>
                <strong class="time">${ item.time_start }</strong>
                <p>
                  <span v-if="item.duration_hours > 0">${ item.duration_hours }{{ 'h'|t }}</span>
                  <span v-if="item.duration_minutes > 0">${ item.duration_minutes }{{ 'min'|t }}</span>
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
              {# class #}
              <div class="class-column" v-cloak>
                <strong><a class="schedule-dashboard__modal--class-link" role="button"
                           v-on:click="populatePopupClass(item.nid)" data-toggle="modal"
                           data-target=".schedule-dashboard__modal--class">${ item.name }</a></strong>
                <p><span>${ item.category }</span></p>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12">
              {# location #}
              <div v-cloak class="location-column">
                <strong>${ item.location }</strong>
                <p><span v-if="item.room">${ item.room }</span></p>
              </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12">
              {# add to calendar #}
              <div v-cloak class="calendar-column">
            <span class="addtocalendar">
              <var class="atc_event">
                <var class="atc_date_start">${ addToCalendarDate(item.time_start_calendar) }</var>
                <var class="atc_date_end">${ addToCalendarDate(item.time_end_calendar) }</var>
                <var class="atc_timezone">${ item.timezone }</var>
                <var class="atc_title">${ item.name }</var>
                <var class="atc_description"></var>
                <var class="atc_location"></var>
                <var class="atc_organizer"></var>
              </var>
            </span>
              </div>
            </div>

            {# category #}
            <div v-cloak class="category-column hidden">
              ${ item.category }
            </div>

            {# register btn #}
            <div v-cloak class="register-column" v-if="item.register_url">
              <a v-bind:href="item.register_url" class="btn btn-primary register-btn">${ item.register_text }</a>
            </div>
          </div>

          <div class="schedules-loading">
            {% include '@openm_system/openm-system--ajax-spinner.html.twig' %}
          </div>

        </div>

        <div class="schedule-dashboard__modal--footer"></div>

      </div>
    </div>
  </div>

</div>
