{#
/**
 * @file
 * Default theme implementation to display a formatted image field with its title as a caption.
 *
 * Available variables:
 * - caption: The image title to be used as a caption
 *
 * @see template_preprocess_openm_hours_formatter()
 *
 * @ingroup themeable
 */
#}
{% if hours %}
<div class="today-hours">
  {{ hours }}
  <a href="#" class="dropdown-toggle show-link">
    <div class="sr-only">{{ 'All hours'|t }}</div>
    <span class="show-text" aria-hidden="true">{{ 'All hours'|t }}</span>
  </a>
  <a href="#" class="dropdown-toggle hide-link hidden">
    <div class="sr-only">{{ 'View less'|t }}</div>
    <span class="show-text" aria-hidden="true">{{ 'View less'|t }}</span>
  </a>
  <div class="branch-hours hidden">
    {{ week }}
  </div>
</div>
{% endif %}
