{#
/**
 * @file
 * Default theme implementation to display a headers.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *
 * @ingroup themeable
 */
#}

{%
  set header_classes = [
    'w-100',
    node.field_lp_layout.value|clean_class,
  ]
%}

{% if content.field_header_content|render|trim is not empty %}
  <article{{ attributes.addClass(header_classes) }}>
    <div{{ content_attributes.addClass('content') }}>
      <div class="main header-region-content">
        {{ content.field_header_content }}
      </div>
    </div>
  </article>
{% else %}
  <div class="banner banner--small banner--grey">

    {% if header_image|render|trim is not empty %}
    <div class="banner-bg" style="background: url('{{ header_image }}') center center; background-size: cover;">
      <span></span>
    </div>
    {% endif %}

    <div class="banner-cta d-block d-lg-flex">
      <div class="banner-cta-content container align-items-center m-auto py-4 py-lg-5 text-white">
        <div class="banner-cta-section">

          {% if label|render|trim is not empty %}
          <h1 class="banner-title text-uppercase m-0 text-white">
            {{ label }}
          </h1>
          {% endif %}

          {% if content.field_category_program|render|trim is not empty %}
          <h1 class="banner-title text-uppercase m-0 text-white">
            {{ content.field_category_program }}
          </h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{{ drupal_breadcrumb() }}
<div id="openm_alerts_header_placeholder"></div>
{{ drupal_block('local_tasks_block') }}
<a id="main-content" tabindex="-1" class="sr-only sr-only-focusable"></a>
