/* ---------- Color Module Styles ----------- */

/* Page background color and global text color. */
body {
  background-color: #fffffb;
  color: #636466;
}

/* Global link color. */
a,
.link,
.node--view-mode-full.node--type-facility .associated-branch-title a {
  color: #377bb5;
}

#page-footer #block-openm-lily-footersocialblock .field-block-content ul li a {
  color: #377bb5;
  border-color: #377bb5;
}

/* Global button background color. */
.button,
.btn,
.btn-default,
.button.blue,
.btn.blue,
.modal-body .button,
.btn-primary,
.wysiwyg--button a,
header#page-head .top-navs #block-openm-lily-user-menu .nav li:first-child a,
header#page-head .top-navs #block-anonymoususersmenu .nav li:first-child a,
#banner .banner-caption .field-prgf-link a,
.button:hover,
.pink-button,
.btn:hover,
.button.blue:hover,
[data-drupal-selector="edit-registration"],
.btn.blue:hover,
.modal-body .button:hover,
.btn-primary:hover,
.wysiwyg--button a:hover,
header#page-head .top-navs #block-openm-lily-user-menu .nav li:first-child a:hover,
header#page-head .top-navs #block-anonymoususersmenu .nav li:first-child a:hover,
.btn.white-blue:hover,
.white-blue.button:hover {
  background-color: #b92f9e;
  color: #fffffc;
}

/* Global Button link text color. */
.button a,
.btn a,
.banner .banner-btn a,
.button a:hover,
.btn a:hover {
  color: #fffffc;
}

/* Header background. */
.top-navs,
.sidebar,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
header#page-head .top-navs .nav-global {
  background-color: #f8f8f8;
}

/* Header menu link color. */
header#page-head .top-navs #block-openm-lily-user-menu .nav li a {
  color: #777777;
}

/* Header menu link hover background and text color. */
header#page-head .top-navs #block-openm-lily-user-menu .nav li a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Header main menu background. */
header#page-head .top-navs .nav-wrapper .main-nav #block-openm-lily-main-menu {
  background: #0060af;
  opacity: 0.95;
}

/* Header Main menu link color. */
header#page-head .top-navs .nav-wrapper .main-nav #block-openm-lily-main-menu .nav li a {
  color: #fffffe;
}

.nav.dropdown-menu,
.viewport .nav-level-2.open > a,
.viewport .nav-level-2.open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: inherit;
}

.viewport .nav-level-2.open {
  background-color: inherit;
  border-bottom: inherit;
}

/* Branch subheader background. */
.is-branch .branch-header .desktop,
.is-branch .branch-header .desktop .today-hours .branch-hours,
.is-branch .branch-header .mobile,
.is-branch .node--type-blog.node--view-mode-teaser.blog-fuchsia .inner-wrapper,
#membership-calc-wrapper .nav-pills > li div {
  background-color: #5a2b8d;
}

/* Footer background color. */
#page-footer,
.footer {
  background-color: #fffff9;
}

/* Footer text color. */
.footer,
.footer .footer__nav nav ul li a,
#page-footer nav ul li a,
#page-footer #block-openm-lily-footermenucenter .nav li a,
#page-footer #block-openm-lily-footermenucenter .nav li a:hover {
  color: #a8a8a8;
}

/* Primary highlight color (purple.) */
.program-header.purple .content,
#membership-calc-wrapper input[type="radio"]:checked + .form-element-wrapper label .btn,
#membership-calc-wrapper input[type="radio"]:checked + .form-element-wrapper label .button,
#membership-calc-wrapper .pull-right,
#membership-calc-wrapper .complete-registration,
#membership-calc-wrapper .nav-pills > li.active div,
#membership-calc-wrapper .nav-pills > li:first-child div {
  background-color: #5c2e91;
}

.paragraph--column-in-a-grid .fa,
.block-description--text .fa,
.paragraph-gallery .item__caption,
.sidebar-card h2,
.story-card a,
.story-card .quote,
.color-purple, .description.purple, .paragraph.featured-content .description,
.program-header.purple .description,
.sub-category-classes-view .activity-group h3,
.branch-sessions-group h3,
.branch-sessions-group .group_time,
.locations-list h1.color-purple,
.locations-list h1.description.purple,
.locations-list .paragraph.featured-content h1.description,
.paragraph.featured-content .locations-list h1.description,
.locations-list h2.color-purple,
.locations-list h2.description.purple,
.locations-list .paragraph.featured-content h2.description,
.paragraph.featured-content .locations-list h2.description,
[class*="sidebar"] .node--type-facility.node--view-mode-teaser h2 a,
[class*="sidebar"] .node--type-branch.node--view-mode-teaser h2 a,
[class*="sidebar"] .node--type-camp.node--view-mode-teaser h2 a,
.node--type-blog.node--view-mode-teaser.blog-story .inner-wrapper h3,
.node--type-blog.node--view-mode-teaser.blog-story .inner-wrapper h4,
.node--type-blog.node--view-mode-teaser.blog-news .inner-wrapper h3,
.class-page-schedule .ticket,
#schedules-search-form-wrapper .results .group_time,
#schedules-search-form-wrapper .results .views-row .ticket,
body .branch-popup .ui-dialog-content h3,
#group-ex-results .time, .groupex-results .time,
#group-ex-results .card .instructor .fa, .groupex-results .card .instructor .fa,
#group-ex-results .card .instructor .fa, .groupex-results .card .instructor a {
  color: #5c2e91;
}

#membership-calc-wrapper input[type="radio"]:checked + .form-element-wrapper label .btn,
#membership-calc-wrapper input[type="radio"]:checked + .form-element-wrapper label .button {
  box-shadow: 0 0 5px #5c2e91;
}

#membership-calc-wrapper .nav-pills > li:first-child div:after,
#membership-calc-wrapper .nav-pills > li.active div:after {
  border-left-color: #5c2e91;
}

.story-card .quote svg {
  fill: #5c2e91;
}

/* Secondary highlight color (pink.) */
.paragraph-gallery .cta-group-wrapper .cta-group h1,
.sub-category-classes-view .activity-group .activity-group-slider .slick-dots li.slick-active button:before,
.branch__updates_queue .slick-dots li.slick-active button:before,
.branch-sessions-group .branch-sessions-group-slider .slick-dots li.slick-active button:before,
.featured-content .slick-dots li.slick-active button:before,
#schedules-search-form-wrapper .results .schedule-sessions-group-slider .slick-dots li.slick-active button:before,
#group-ex-results .time .duration, .groupex-results .time .duration,
#group-ex-results .card h3 a,
.groupex-results .card h3 a,
#group-ex-results .card h3 .fa,
.groupex-results .card h3 .fa {
  color: #c6168d;
}

.paragraph--class-content .cards > a,
.paragraph--class-content .cards .field-collection-item.without-link,
.sub-category-classes-view .activity-group .teaser-row,
.sub-category-classes-view .activity-group .activity-group-slider .views-field-rendered-entity,
.branch-sessions-group .views-row,
#schedules-search-form-wrapper .results .views-row {
  border-color: #c6168d;
}

#membership-calc-wrapper .nav-pills > li div:after {
  border-left-color: #c6168d;
}

.branch-sessions-group .group_time {
  border-bottom-color: #c6168d;
}

/* Branch button color. */
.is-branch .button,
.is-branch .btn,
.is-branch .button.blue,
.is-branch .btn.blue,
.is-branch .modal-body .button,
.is-branch .btn-primary,
.is-branch #banner .banner-caption .field-prgf-link a,
.is-branch .button:hover,
.is-branch .btn:hover,
.is-branch .button.blue:hover,
.is-branch .btn.blue:hover,
.is-branch .modal-body .button:hover,
.is-branch .btn-primary:hover,
.is-branch .btn.white-blue:hover,
.is-branch .white-blue.button:hover,
.groupex-form-full .top-form-wrapper .groupex-pdf-link-container a {
  background-color: #b92f9f;
  color: #fffff8;
}

/* Camp specific overrides */

/* Camp subheader background color. */
.is-camp .branch-header .desktop,
.is-camp .branch-header .mobile,
.is-camp .branch-header .location-details #directions-hours-mobile,
.is-camp .camp-address.all-hours {
  background-color: #f47520;
}

/* Camp link color. */
.is-camp a,
.is-camp .link {
  color: #019c85;
}

.is-camp .button,
.is-camp .btn,
.is-camp .button.blue,
.is-camp .btn.blue,
.is-camp .modal-body .button,
.is-camp .btn-primary,
.is-camp .wysiwyg--button a,
.is-camp .button:hover,
.is-camp .btn:hover,
.is-camp .button.blue:hover,
.is-camp .btn.blue:hover,
.is-camp .modal-body .button:hover,
.is-camp .btn-primary:hover,
.is-camp .wysiwyg--button a:hover,
.is-camp .btn.white-blue:hover,
.is-camp .white-blue.button:hover,
.is-camp #banner .banner-caption a,
.is-camp #banner .banner-caption a:hover {
  background-color: #019c86;
  color: #fffff7;
}

.is-camp .button a,
.is-camp .btn a,
.is-camp .banner .banner-btn a,
.is-camp .button a:hover,
.is-camp .btn a:hover {
  color: #fffff7;
}

.is-camp .page-head__main-menu .nav-level-2 > a,
.is-camp .page-head__main-menu .nav-level-3 > a,
.is-camp .viewport .navbar-default .navbar-nav > li > a,
.is-camp .page-head__top-menu a,
.is-camp .page-head__main-menu a,
.is-camp .viewport .page-head__main-menu .dropdown-menu > li > a:focus,
.is-camp .viewport .page-head__main-menu .dropdown-menu > li > a:hover,
.is-camp .navbar-nav .open .dropdown-menu > li > a:hover,
.is-camp .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fffff8;
}

.is-camp .viewport .nav-level-2 > a:hover,
.is-camp .viewport .nav-level-2 > a:focus
.is-camp .viewport .page-head__main-menu .nav-level-2 > a:hover,
.is-camp .viewport .page-head__main-menu .nav-level-2 > a:focus {
  color: #d8d8d7;
}

.is-camp .viewport .nav-level-2.open {
  background-color: inherit;
  border-bottom: inherit;
}

/* Camp menu background color. */
.is-camp .camp-menu-wrapper,
.is-camp .camp-menu-wrapper a,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a:after {
  background-color: #383838;
}

/* Camp menu text color. */
.is-camp .camp-menu__item a,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li:first-child a:before,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a {
  color: #fffffd;
}

/* Camp menu text hover color. */
.is-camp .camp-menu-wrapper a:hover,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a:hover,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a.active,
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a.active:after,
.is-camp .camp-menu-wrapper .active {
  background-color: #505050;
}
.is-camp .paragraph--type--camp-menu .camp-menu-wrapper .camp-menu li a.active:hover:after {
  background-color: #505050 !important;
}

/* Camp Primary highlight color. */
.is-camp .paragraph--column-in-a-grid .fa,
.is-camp .block-description--text .fa,
.is-camp .paragraph-gallery .item__caption,
.is-camp .sidebar-card h2,
.is-camp .story-card a,
.is-camp .story-card .quote,
.node--type-camp .branch-popup .ui-dialog-content h3,
.node--type-camp .modal-body .fieldset-legend,
.is-camp .color-purple,
.is-camp .program-header.purple .description,
.is-camp .sub-category-classes-view .activity-group h3,
.is-camp .branch-sessions-group h3,
.is-camp .branch-sessions-group .group_time,
.is-camp .locations-list h1.color-purple,
.is-camp .locations-list h1.description.purple,
.is-camp .locations-list .paragraph.featured-content h1.description,
.is-camp .paragraph.featured-content .locations-list h1.description,
.is-camp .locations-list h2.color-purple,
.is-camp .locations-list h2.description.purple,
.is-camp .locations-list .paragraph.featured-content h2.description,
.is-camp .paragraph.featured-content .locations-list h2.description,
.is-camp [class*="sidebar"] .node--type-facility.node--view-mode-teaser h2 a,
.is-camp [class*="sidebar"] .node--type-branch.node--view-mode-teaser h2 a,
.is-camp [class*="sidebar"] .node--type-camp.node--view-mode-teaser h2 a,
.is-camp .node--type-blog.node--view-mode-teaser.blog-story .inner-wrapper h2,
.is-camp .node--type-blog.node--view-mode-teaser.blog-story .inner-wrapper h4,
.is-camp .node--type-blog.node--view-mode-teaser.blog-news .inner-wrapper h3,
.is-camp .class-page-schedule .ticket,
.is-camp #schedules-search-form-wrapper .results .group_time,
.is-camp #schedules-search-form-wrapper .results .views-row .ticket,
body .is-camp .branch-popup .ui-dialog-content h3,
#group-ex-results .time, .groupex-results .time,
#group-ex-results .card .instructor .fa, .groupex-results .card .instructor .fa,
#group-ex-results .card .instructor .fa,
#group-ex-results .card .instructor a,
.groupex-results .card .instructor a {
  color: #019c87;
}

.node--type-camp .modal-body .button.btn-primary.btn-lg,
.is-camp .node--type-blog.node--view-mode-teaser a:hover .inner-wrapper .blog-heading h2:after,
.is-camp .node--type-blog.node--view-mode-teaser a .inner-wrapper .blog-up .category {
  background-color: #019c87;
}

/* Camp Secondary highlight color. */
.is-camp .node--type-blog.node--view-mode-teaser.blog-fuchsia .inner-wrapper,
.is-camp #membership-calc-wrapper .nav-pills > li div {
  background-color: #c6168e;
}

.is-camp .paragraph-gallery .cta-group-wrapper .cta-group h1,
.is-camp .sub-category-classes-view .activity-group .activity-group-slider .slick-dots li.slick-active button:before,
.is-camp .branch__updates_queue .slick-dots li.slick-active button:before,
.is-camp .branch-sessions-group .branch-sessions-group-slider .slick-dots li.slick-active button:before,
.is-camp .featured-content .slick-dots li.slick-active button:before,
.is-camp #schedules-search-form-wrapper .results .schedule-sessions-group-slider .slick-dots li.slick-active button:before,
.is-camp #group-ex-results .time .duration, .groupex-results .time .duration {
  color: #c6168e;
}

.is-camp .paragraph--class-content .cards > a,
.is-camp .paragraph--class-content .cards .field-collection-item.without-link,
.is-camp .sub-category-classes-view .activity-group .teaser-row,
.is-camp .sub-category-classes-view .activity-group .activity-group-slider .views-field-rendered-entity,
.is-camp .branch-sessions-group .views-row,
.is-camp #schedules-search-form-wrapper .results .views-row {
  border-color: #c6168e;
}

.is-camp #membership-calc-wrapper .nav-pills > li div:after {
  border-left-color: #c6168e;
}

.is-camp .branch-sessions-group .group_time {
  border-bottom-color: #c6168e;
}

.viewport .nav-level-2 > a:hover,
.viewport .nav-level-2 > a:focus,
.is-camp .viewport .nav-level-2 > a:hover,
.is-camp .viewport .nav-level-2 > a:focus {
  background: none;
}

.is-camp #page-footer #block-openm-lily-footersocialblock ul li a.fa {
  border-color: #019c86;
  color: #019c86;
}

/* Color Module: Don't touch */
.site-alert__wrapper a.site-alert__dismiss {
  color: #ffffff;
}

#block-openm-lily-tabs .nav-tabs li a {
  color: #565656;
}
