/*
* Tab/Card Component.
*/
.openm-card__link,
.openm-card__item label {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 20px 25px;
  width: 100%;
  border: 2px solid #dadada;
  background-color: #f8f8f8;
  cursor: pointer;
  font-weight: normal;
  align-items: center;
}

.openm-card__item label.has-subtext {
  align-items: flex-start;
}

/* No results text. */
.openm-card__item.no-results {
  font-size: 1em;
}

.openm-card__item.no-results label {
  border-color: #eeeeee;
  color: #ccc;
  cursor: not-allowed;
}

.openm-card__item.no-results small {
  font-style: italic;
  color: red;
  opacity: .5;
}

/* Links (Used on the main activity finder page). */
.openm-card__link {
  flex-direction: column;
  align-items: flex-start;
  color: inherit;
}

.openm-card__link:hover {
  text-decoration: none;
}

.openm-card__link .h4 {
  margin-top: 0;
}

.openm-card__link--subtext {
  display: flex;
  align-items: center;
  min-height: 25px;
}

.openm-card__item--filled {
  background-color: #dadada;
}

.openm-card__item.selected label {
  font-weight: bold;
}

.openm-card__item label i {
  font-size: 22px;
  margin-right: 15px;
  color: #d3d2d3;
}

.openm-card__item label i.fa-home {
  font-size: 18px;
  margin-right: 8px;
  color: #0060ad;
}

.openm-card__item.selected label i {
  color: inherit;
}

.openm-card__item.selected label i.fa-home {
  color: #fff;
}

.openm-card__item.no-results label i.fa-home {
  color: #636466;
}

@media (min-width: 62em) {
  .openm-card__item label {
    margin-bottom: 2rem;
  }
}

.openm-card__item:not(.no-results) label:hover {
  border-color: #979797;
}


/* Cards with location marker, title & sub-text. */
.openm-card__link {

}

.openm-card__item--lg label {
  align-items: flex-start;
  text-align: left;
}
