.toolbar-icon-openm-system-openm:before {
  background-image: url(../images/icon-gear-inactive.png);
}

.toolbar-icon-openm-system-openm:active:before,
.toolbar-icon-openm-system-openm.is-active:before {
  background-image: url(../images/icon-gear.png);
}
