.class-page-schedule {
  h2 {
    font-size: 28px;
    margin-top: 18px;
    max-width: 284px;
    margin-bottom: 1px;
  }

  h3 {
    padding-right: 70px;
    margin-bottom: 5px;
  }

  .edit-class-sch {
    display: inline-block;
    padding-left: 10px;
    color: $blue;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
  }

  .phone {
    letter-spacing: 2px;
    padding-bottom: 35px;
  }

  .facility-name {
    margin-top: -30px;
  }

  .facility-text {
    margin-top: -30px;
    padding-bottom: 35px;
  }

  ul {
    padding-left: 0;
    list-style: none;

    .class_end {
      padding-top: 4px;
      font-size: 15px;
      color: #4a4a4a;
    }
  }

  .btn {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 19px;
    white-space: normal;
  }

  .starting-from {
    @include cachet(700);;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .reg-date {
    color: $gray-500;
    &.end {
      margin-bottom: 20px;
    }
  }

  .tier-prices {
    margin-bottom: 15px;

    .tier-price {
      @include cachet(700);
      font-size: 18px;
    }
  }

  .ticket {
    @include cachet(700);
    color: $purple;
    margin-top: 10px;
    font-size: 18px;
  }
}

.class_price,
.class_time,
.class_days {
  @include cachet(700);
  font-size: 18px;
}

.class_price:first-child {
  margin-top: 35px;
}

.node--type-class.node--view-mode-teaser {
  h2, h3 {
    @include cachet();
    font-size: 22px;
    line-height: 1;
    color: $primary;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    color: $gray-600;

    &:after {
      content: "...";
    }
  }
}

.class-page-other-sessions .session .name {
  @include cachet(700);;
}

.class__session-instances,
.flexreg__teasers {
  .class__session-instances-list,
  .flexreg__teasers-list {
    width: 100%;
  }
}

.class__session-instance,
.flexreg__teaser {
  @include cachet();
  border-bottom: 1px solid $gray-100;

  td {
    padding: 10px 5px;
    border-top: none;
    vertical-align: middle;
  }

  .name {
    @include cachet(700);;
  }

  .description {
    margin-bottom: 15px;
  }

  .more-info {
    padding: 0 10px;

    a {
      color: $gray-500;
      text-decoration: underline;
    }
  }

  .register {
    padding: 0 10px;

    a {
      @include cachet(700);;
      color: $gray-500;
      text-decoration: underline;
    }
  }
}

.table-sessions {
  margin: 0 auto;

  td,
  th {
    padding: 5px;
  }
}

.page-node-type-class #block-openm-rose-content > .container {
  padding: 20px 15px;
}

.field-prgf-title,
.field-prgf-nu-title,
.field-prgf-whay-title,
.field-prgf-fc-title {
  text-align: center;
  width: 100%;
  clear: both;

  h2 {
    font-weight: 600;
    color: $gray-400;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &.mobile h2 {
    font-size: 28px;
    margin-bottom: -15px;
  }
}
