.desktop-menu {
  .openm-google-translate select {
    @include cachet();
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: $gray-300;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 1.5rem;
    text-transform: none;

    option {
      color: $black;
    }
  }
}

.mobile-sidebar {
  .openm-google-translate {
    border-bottom: 1px solid #979797;
    margin: 0 -15px;
    padding: 17px 15px;

    select {
      @include cachet();
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: none;
      color: $white;
      font-size: 18px !important;
      line-height: 1.5;
      text-transform: uppercase;

      option {
        color: $black;
      }
    }
  }
}

.goog-te-gadget {
  font-size: 0 !important;
  .goog-te-combo {
    margin: 0;
  }
}

.goog-logo-link {
  display: none;
}

@include media-breakpoint-down(md) {
  .goog-te-banner-frame {
    display: none;
  }
}

