body {
  margin-top: 0 !important;
  top: 0px !important;
}

main {
  margin-top: 0;

  @include media-breakpoint-up(md) {
    margin-top: 78px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 44px;
  }
}

#block-openm-carnation-content > .container {
  margin-top: 64px;
}

.with-banner {
  #block-openm-carnation-tabs {
    display: none;
  }
}

.layout-container {
  position: relative;
  overflow-x: hidden;
}

.node--type-blog .wrapper-field-blog-image {
  display: none !important;
}

.row-eq-height,
.modal-body .fieldset-wrapper > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.tabs {
  text-align: center;

  .tabs--primary.nav.nav-tabs {
    display: inline-block;
  }
}

.status-message {
  text-align: center;
  padding: 10px 0;
}

.field-link-attribute {
  display: none;
}

.toolbar-icon-admin-toolbar-tools-help::before {
  background-image: url(../img/logo-color.png);
}

.two-columns-container,
.user-login {
  padding-bottom: 20px;
  min-height: 600px;
}

.webform-submission-form {
  margin: 15px 0;
}

.error-page {
  text-align: center;
  margin-bottom: 30px;
}
