body.path-user:not(.user-logged-in) {
  background: linear-gradient($primary-darker, $light-blue);
}

.login-page {
  .brand {
    margin: 1em auto 2em auto;

    img {
      max-width: 275px;
    }
  }

  .openm-page-tabs {
    padding: 0;
  }

  .card {
    padding: .75em;
    border-color: transparent;
    box-shadow: 0 0 40px rgba($black, .05);
  }

  .card .card-title {
    margin-bottom: 1.5em;
  }

  input[type='password'][data-eye] {
    @include rem(padding-right, 60px);
  }

  .passeye-toggle {
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 2px 7px;
    cursor: pointer;
  }

  .form-control {
    border-width: 2px;
  }

  .user-pass p,
  .description {
    font-size: .75em;
    color: $gray-300;
    margin: .5em 0 1em;
  }

  .form-submit {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
  }
}
