// OpenM Paragraph Event Posts Listing
.paragraph--type--event-posts-listing {
  .views-exposed-form {
    background-color: $lighter-grey;
    width: 100%;
    padding: 17px 25px;
    margin: 30px 0 50px;
  }
  .form-actions {
    text-align: center;
  }
  .views-row {
    margin: 30px 0;
  }
  // Desktop
  @media (min-width: $screen-md) {
    form {
      .form-item, .form-actions {
        display: table-cell;
        padding: 0 20px 0 0;
        width: 50%;
        vertical-align: bottom;
        select {
          max-width: 220px;
        }
      }
      .form-item-combine {
        padding-left: 200px;
        input {
          min-width: 250px;
        }
      }
    }
  }
}