// OpenM Paragraph Latest Event Posts - Upcoming events
.paragraph--type--upcoming-events {
  h2 {
    letter-spacing: normal;
    text-transform: none;
    text-align: left;
  }
  & > .paragraph-container-wrapper > h2 {
    padding-left: 15px;
  }
  header a {
    display: block;
    text-align: right;
    padding: 0 15px;
    @media (min-width: 570px) {
      float: right;
      margin-top: -34px;
    }
    text-transform: uppercase;
    color: $dark-magenta;
    @include cachet-bold();
    &:after {
      content: '\f105';
      font-family: 'FontAwesome';
      font-weight: bold;
      padding-left: 5px;
    }
  }
  .views-row {
    margin: 30px 0;
  }
}
