.openm-gtranslate {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}

.openm-google-translate select {
  @include cachet();
  background: transparent;
  border: none;
  font-size: 16px;
}

.goog-te-gadget {
  font-size: 0 !important;

  .goog-logo-link, span {
    display: none;
  }
}

.goog-te-banner-frame {
  display: none;

  @include breakpoint($screen-sm) {
    display: block;
  }
}

.mobile_menu {
  .openm-google-translate {
    @include breakpoint($screen-sm) {
      display: none;
    }
    select {
      @include cachet();
      color: $white;
      font-size: 18px !important;
      font-weight: bold;
      margin-left: 10px;
      text-transform: uppercase;

      option {
        color: $default-grey;
      }
    }
  }
}

#block-openm-lily-googletranslate {
  background: transparent;

  .openm-google-translate {
    height: 100px;
    vertical-align: text-bottom;
    display: none;
    @media (min-width: 992px) {
      display: inline-block !important;
      float: right;
    }
    .goog-te-gadget {
      border-top: 2px solid transparent;
      color: #777;
      font-size: 16px;
      max-height: 100px;
      padding: 40px 15px;
      &:hover {
        background: #fff;
        border-top: 2px solid #aa228d;
        color: $black;
      }

      .goog-te-combo {
        font-family: "Cachet", Arial, sans-serif;
        margin: -4px 0 4px;
      }
    }
  }

  .openm-google-translate select {
    background: transparent;
    border: none;
    font-size: 16px;
  }
}
