a[href="#step2"] {
  pointer-events: none;
}

#membership-calc-wrapper {
  img {
    height: auto;
    max-width: 100%;
  }
  h2 {
     font-size: 40px;
     text-align: center;
     margin-bottom: 30px;
     text-transform: uppercase;
  }
  .h4 {
    font-size: 18px;
  }
  .description {
    margin-bottom: -0.5em;
  }
  legend {
    border: none;
    color: inherit;
    font-size: 36px;
  }
  .label-for-field-mbrshp-join-fee,
  .label-for-field-mbrshp-monthly-rate {
    float: left;
    margin-right: 0.5em;
    &:after {
      content: ":";
    }
  }
  .membership-type {
    h3 {
      width: 100%;
    }
    label {
      border-bottom: 1px solid #333;
      left: 0;
      bottom: 0;
      display: block;
      padding-bottom: 30px;
      position: absolute;
      width: 100%;
    }
  }
  .btn {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
  }
  .text-center {
    margin-top: 40px;
  }
  .form-element-wrapper {
    @include display-flex;
    @include flex-wrap(wrap);
    flex-direction:column;
    position: relative;
    width: 100%;
    .btn {
      display: block;
    }
  }
  input[name="type"] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }
  .membership-type {
    margin: 0 0 20px 0;
    @include display-flex;
    @include flex-wrap(wrap);
    @include breakpoint($screen-xs $screen-sm) {
      width: 50%;
    }
    .contextual-region {
      position: static;
    }
    .node--view-mode-calc-preview {
      img {
        height: auto;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  input[type="radio"]:checked + .form-element-wrapper label .btn {
    background-color: $purple;
    box-shadow: 0 0 5px $purple;
  }
  .pull-left,
  .pull-right {
    margin: 20px 0 10px 0;
  }
  .node--type-membership.node--view-mode-calc-preview {
    margin-bottom: 100px;
    width: 100%;
  }
  .pull-right,
  .complete-registration {
    background-color: $purple;
  }
  .calc-summary {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    .calc-summary-col {
      border-bottom: 1px solid $darker-grey;
      flex-basis: calc(100% - 15px);
      padding-bottom: 15px;
      @include breakpoint($screen-tablet) {
        margin: 0 15px 0 0;
      }
      &:nth-child(2) {
        @include breakpoint($screen-tablet) {
          margin: 0 0 0 15px;
        }
      }
      img {
        height: 200px;
        max-width: 100%;
      }
      @include breakpoint($screen-tablet) {
        flex-basis: calc(50% - 15px);
      }
    }
    .price {
      margin-top: 15px;
      word-break: break-word;
      .monthly_rate {
        color: $purple;
        font-size: 22px;
        font-weight: bold;
        margin: 10px 0;
        @include cachet-medium();
      }
    }
    a.card {
      color: $default-grey;
      display: inline-block;
      padding: 1px 15px 15px;
      text-decoration: none;
      text-align: center;
      margin-bottom: 15px;
      vertical-align: top;
      @include breakpoint($screen-tablet) {
        width: 45%;
      }
      &.chosen {
        background-color: $lighter-grey;
        outline: none;
      }
    }
  }
}

#membership-calc-wrapper .nav-pills {
  display: table;
  width: 111%;
  @include cachet();
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 13px;
  margin: 0 -15px;
  @include breakpoint($screen-tablet) {
    width: 100%;
    font-size: 20px;
    line-height: 42px;
    margin: 0;
  }
  & > li {
    display: table-cell;
    float: none;
    vertical-align: middle;

    &:last-child {
      a {
        padding-left: 25px;
        width: 100%;
      }
    }

    a {
      text-decoration: none;
      position: relative;
      border-radius: 0;
      color: $white;
      background-color: $dark-magenta;
      width: calc(100% - 30px);
      text-align: left;
      height: 68px;
      @include breakpoint($screen-tablet) {
        display: block;
        white-space: nowrap;
        text-align: center;
        height: auto;
      }
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 30px solid $white;
        position: absolute;
        top: 50%;
        margin-top: -60px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 30px solid $dark-magenta;
        position: absolute;
        top: 50%;
        margin-top: -60px;
        margin-left: -1px;
        left: 100%;
        z-index: 2;
      }

      .nav-pills__text {
        position: relative;
        z-index: 3;
      }
    }
    a[href="#step1"],
    a[href="#step2"] {
      width: calc(100% - 15px);
      padding-left: 25px;
    }
    &.active a {
      background-color: $purple;
    }
    &.active a:after {
      border-left: 30px solid $purple;
    }
  }
}

.openm-map-wrapper {
  margin-bottom: 40px;
}

.views-view-membership {

  .field-body-no-summary {
    font-size: 15px;
    padding-bottom: 110px;
  }

}

.view-mode-thumb-262-233 {
  margin-bottom: 1em;
}

.wrapper-field-membership-info {
  display: flex;
  flex-wrap: wrap;
}

.form-item-location {
  flex-basis: 25%;
  margin-bottom: 5px;

  @include breakpoint($screen-sm $screen-md) {
    flex-basis: 33.33%
  }

  @include breakpoint(0 $screen-sm) {
    flex-basis: 100%
  }

  input {
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
  }
  [class^="wrapper-"] > div {
    display: inline-block;
  }
  [class^="label-"] {
    &:after {
      content: ":";
    }
  }
  .field-link {
    display: none;
  }
  label {
    max-width: calc(100% - 40px);
    margin-bottom: 0;
    vertical-align: middle;
  }
}
.membership-continue {
  display: none;
}

.price {
  &-month {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: $h2-size;
    @include cachet();
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
}

.field-branch-hours {
  h4 {
    font-size: $h4-size;
  }
}
