.user-login {
  margin: 10px 0;

  .openm-page-tabs {
    >ul {
      margin: 10px 0;
      padding-left: 0;
    }
  }

  label {
    @include cachet();

    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;

    color: $default-grey;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    border: solid 1px $light-grey;
    padding: 6px 12px 6px 5px;
    height: 40px;
    width: 50%;

    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;

    background-color: #fff;
    background-image: none;

    @media (max-width: $screen-xs-min) {
      width: 100%;
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill {
    color: #555555 !important;

    background-color: #fff !important;
    background-image: none !important;
  }

  .description {
    margin-bottom: 20px;
  }
}
